{# NOTE: This file is called when updating Cart button via AJAX #}

<a class="cart-button {{ woo.cart.is_empty ? 'button-passive' : 'button cart-button--active' }}"
  data-nav-dialog="cart-dialog"
  href="{{ fn('wc_get_cart_url') }}">

  <i class="dashicons-before dashicons-cart"></i>
  <span>{{ __('Cart', 'my') }}</span>
  <b>{{ woo.cart.get_cart_contents_count }}</b>

</a>
