{# CART DIALOG #}
<div class="menu-item">
  {% include 'woo/_cart-nav-button.twig' %}

  <aside class="nav-dialog cart-dialog" id="cart-dialog">
    <h3>{{ __('Your Cart', 'my') }}</h3>
    {{ fn('the_widget', 'WC_Widget_Cart' ) }}
  </aside>
</div>
