{% extends "layout.twig" %}
{% block content %}

<section class="shop-title">
  <h-row><h-column class="large-8">
    <h1>{{ title }}</h1>
    {{ content }}
  </h-column></h-row>
</section>

<h-row><h-column class="large-12">
  {% do action("woocommerce_before_main_content") %}
  {% do action("woocommerce_before_shop_loop") %}


  <section class="shop-content">
    {% include "woo/_products.twig" with { products: posts } %}
  </section>


  {% do action("woocommerce_after_shop_loop") %}
  {% do action("woocommerce_after_main_content") %}

</h-column></h-row>

{% endblock %}
