{% extends "layout.twig" %}
{% block content %}
  {{ fn('the_post') }}

<h-row><h-column class="large-12">

  <section class="product">
    <header class="product-header">
      {% do action("woocommerce_before_single_product") %}
    </header>

    <h-row>
      {# Gallery #}
      <h-column class="large-4">
        <figure class="product-figure">
          {% do action("woocommerce_before_single_product_summary") %}
        </figure>
      </h-column>

      {# Price & Buy button #}
      <h-column class="large-3">
        <aside class="product-purchase">
          {% do action("woocommerce_after_single_product_summary") %}
        </aside>
      </h-column>

      {# Description tab #}
      <h-column class="large-5">
        <article class="product-article post-content">
          {% do action("woocommerce_single_product_summary") %}
        </article>
      </h-column>


    </h-row>

  </section>

  {% do action("woocommerce_after_single_product") %}

  {# RELATED #}
  <section class="product-related">
    <h2>{{ __('Related Products', 'my') }} </h2>
    {% include "woo/_products.twig" with { products: related_products } %}
  </section>

</h-column></h-row>

{% endblock %}
