body.woocommerce-account {
  div.woocommerce {
    @include display-flex;
    position: relative;
  }
}


///// MY ACCOUNT - FORM

.woocommerce-address-fields__field-wrapper,
.woocommerce-EditAccountForm,
.woocommerce-form-register {
  @include display-flex;
  flex-wrap: wrap;
  margin: 1em -0.5em 0;
}

.form-row {
  padding: 0 0.5em;
  margin-bottom: 1em;
  width: 50%;

  label {
    align-self: center;
    color: $font-color-passive;
    font-size: em( $font-size-small );
  }

  @include below( small ) {
    width: 100%;
  }
}

// Select field
.select2-container .select2-selection--single {
  padding: 5px 0;
  height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  right: 10px;
  width: 20px;
  @include transform( translateY(-50%) );

  b {
    margin: 0;
  }
}

///// SINGLE FIELD

@include above(small) {
  [id*="_email_field"] { width: 40%; }

  [id*="_first_name_field"],
  [id*="_last_name_field"] {
    .woocommerce-address-fields & {
      width: 30%;
    }

    .woocommerce-form-register & {
      width: 50%;
    }
  }

  [id*="_address_1_field"] { width: 66.67%; }
  [id*="_address_2_field"] { width: 33.33%; }

  [id*="_country_field"],
  [id*="_state_field"] { width: 37.5%; }
  [id*="_postcode_field"] { width: 25%; }
}

// hide the label of Address 2
.form-row[id*="_address_2_field"] {
  label { letter-spacing: -1em; visibility: hidden; }
}

.form-row[id*="separator_field"] {
  width: 100%;
  border-top: 1px dashed $color-passive;
  margin-top: 1.5em;
  margin-bottom: 2em;

  input { display: none; }
}

///// MY ACCOUNT LOGIN / REGISTER

// custom wrapper
.woocommerce-account-wrapper {
  @include clearfix;

  width: 100%;
  padding: 1em 2em 2em;
  margin: 2em 0 3em;
  background-color: $wc-panel;
  border: 1px solid $wc-panel-dark;

  h2 {
    @include font-sizes( $h3-sizes );
    margin-bottom: 1em;
    font-weight: $font-weight;
    text-align: center;
  }

  .u-column1,
  .u-column2 {
    width: 50%;
    float: left;

    @include below(small) {
      width: 100%;
    }
  }
}


// login, register, forgot password
.woocommerce-form-login,
.woocommerce-form-register,
.woocommerce-ResetPassword {
  margin: 0 auto;
  padding: 1.5em;
  border: 1px solid $color-passive;
  background-color: white;

  label {
    cursor: pointer;
    margin-bottom: 2px;
  }

  em {
    font-size: em( $font-size-small );
  }
}

// login and forgot password
.woocommerce-form-login,
.woocommerce-ResetPassword {
  .form-row {
    @include display-flex;
    flex-wrap: wrap;

    padding: 0;
    width: 100%;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

// login
.woocommerce-form-login {
  width: 320px;

  .woocommerce-LostPassword {
    font-size: em( $font-size-small );
  }

  // Remember me
  [name="login"] + label {
    margin-left: auto;
  }
}

// register
.woocommerce-form-register {
  background-color: transparent;

  .woocommerce-privacy-policy-text {
    margin-bottom: 1em;
    padding: 0 0.5em;
    font-size: em($font-size-small);
  }

  .woocommerce-input-wrapper {
    display: block;
    width: 100%;
  }
}

// reset password

.woocommerce-ResetPassword {
  width: 320px;
  margin-top: 4em;
  margin-bottom: 4em;

  p + p {
    margin-top: 1em;
  }

  p:first-of-type {
    font-size: em( $font-size-small );
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 2em;
    left: 0;
    right: 0;
    bottom: 2em;

    background-color: $wc-panel;
    border: 1px solid $wc-panel-dark;
  }
}


.woocommerce-password-strength {
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: em($font-size-small);

  &.short,
  &.bad { color: $color-red; }

  &.good,
  &.strong {
    font-weight: $header-weight;
    text-transform: uppercase;
  }
  &.good { color: $color-blue; }
  &.strong { color: $color-green; }
}


//// Sidebar navigation

.woocommerce-MyAccount-navigation {
  width: 20%;
  margin: 2em 40px 2em 0;
  background-color: $wc-panel;

  ul {
    @include display-flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    list-style-type: none;
  }

  @include below(small) {
    width: 100%;
    margin-bottom: 1em;

    li { width: 50%; }
  }
}

.woocommerce-MyAccount-navigation-link {
  width: 100%;

  + .woocommerce-MyAccount-navigation-link {
    border-top: 1px solid darken( $wc-panel, 10% );
  }

  &.is-active {
    a {
      background-color: $wc-panel-dark;
      border-left-color: $color-main;
      color: $color-main;

      &::after { color: $color-main; }
    }
  }

  a {
    @include display-flex();
    align-items: center;
    padding: 0.75em 1em;
    border-left: 4px solid transparent;
    width: 100%;

    color: $font-color;
    transition: $g-transition;

    &:hover {
      background-color: $wc-panel-dark;
    }

    &::after {
      margin-left: auto;
      opacity: .7;

      font-size: 1.125em;
      font-family: "dashicons";
    }
  }

  @include below(small) {
    width: 50%;
  }
}

.woocommerce-MyAccount-navigation-link--orders {
  a::after { content: "\f174"; }
}

.woocommerce-MyAccount-navigation-link--edit-address {
  a::after { content: "\f102"; }
}

.woocommerce-MyAccount-navigation-link--edit-account {
  margin-bottom: 3em;

  a::after { content: "\f110"; }
}

.woocommerce-MyAccount-navigation-link--customer-logout {
  margin-top: auto;

  a::after { content: "\f153"; }
}


///// MY ACCOUNT CONTENT

.woocommerce-MyAccount-content {
  flex: 1;
  margin: 2em 0;

  body.woocommerce-orders & {
    max-width: 100%;
    overflow-x: auto;
  }
}

.woocommerce-pagination {
  @include display-flex;
  margin-top: 2em;
  text-align: center;

  a {
    background-color: inherit;
    color: $color-main;

    &:hover { color: $color-main; }
  }

  .woocommerce-button--previous {
    &::before {
      content: "\00AB";
      display: inline-block;
      margin-right: 5px;
    }
  }

  .woocommerce-button--next {
    margin-left: auto;

    &::after {
      content: "\00BB";
      display: inline-block;
      margin-left: 5px;
    }
  }
}


///// MY ACCOUNT - ADDRESS and CUSTOMER DETAIL

// wrapper
.woocommerce-Addresses,
.woocommerce-customer-details {
  margin-top: 1em;
}

.woocommerce-Addresses,
.woocommerce-columns--addresses {
  @include display-flex;

  @include below(small) {
    flex-direction: column;
  }
}

// column
.woocommerce-Address,
.woocommerce-column--billing-address,
.woocommerce-column--shipping-address {
  flex: 1;

  .title {
    @include display-flex;
    align-items: center;
  }

  @include below(small) {
    margin-bottom: 1em;
  }
}

// title
.woocommerce-Address h3,
.woocommerce-column__title {
  @include font-sizes( $h3-sizes );
  font-weight: 400;
  margin-bottom: 0.5rem;
}

// edit button
.woocommerce-Address {

  .edit {
    display: inline-block;
    margin-left: 1em;
    border: 1px solid $color-main;
    padding: 0.25em 0.5em;

    font-size: em( $font-size-small );
    text-transform: uppercase;
    line-height: 1;

    border-radius: $g-radius;

    &:hover { background-color: $color-main; color: white; }
  }
}


///// MY ACCOUNT - ORDER

.account-orders-table {
  font-size: em( $font-size-small );
}

.woocommerce-order-details {
  margin: 2em 0;

  h2 {
    margin-bottom: 1rem;
    font-weight: 400;
  }

  table, thead, tbody, tfoot, tr, td, th {
    display: block;
    padding: 0;
    background-color: inherit;
    border: none;
  }

  thead {
    display: none;
  }
}

.order-again {
  margin-top: 2em;
}


.woocommerce-order-details table {
  overflow: hidden;
  max-width: 600px;

  border: 1px solid $wc-panel-dark;
  border-radius: $g-radius;
  box-shadow: $shadow-z0;
}


.woocommerce-order-details tbody {
  @include display-flex;
  flex-wrap: wrap;
  padding: 1em;

  tr {
    @include display-flex;
    align-items: center;

    width: 100%;
    border: 1px solid $wc-panel-dark;
    padding: 0.5em;

    + tr {
      margin-top: 0.5em;
    }
  }

  img {
    margin-right: 1em;
  }

  td:first-child {
    flex: 1;
  }

  .product-quantity {
    display: inline-block;
    padding: 2px 0.25em;
    margin-left: 0.5em;
    border: 1px solid $color-main;

    color: $color-main;
    line-height: 1;
    font-weight: 400;
    border-radius: $g-radius;
  }
}

.woocommerce-order-details tfoot {
  @include display-flex;
  flex-wrap: wrap;

  width: 100%;
  padding: 1em;
  background-color: $wc-panel;

  th {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: em( $font-size-small );
  }

  td {
  }

  tr {
    width: 25%;
  }

  // total
  tr:last-child {
    width: 100%;
    margin-top: 1em;

    th {
      line-height: 1;
    }

    th, td {
      text-align: center;
    }

    td {
      @include font-sizes( $h3-sizes );
      font-weight: 700;
    }
  }

  .shipped_via {
    display: block;
  }
}

.hoo-customer-note {
  margin: 2em 0;

  h3 {
    margin-bottom: 1rem;
    font-weight: 400;
  }
}

///// MY ACCOUNT - EDIT ACCOUNT

.woocommerce-EditAccountForm {
  // first name, last name
  > .form-row:nth-child(1),
  > .form-row:nth-child(2) {
    @include above(small) {
      width: 30%;
    }
  }

  > .form-row:nth-child(4) {
    width: 40%;

    @include below(small) {
      width: 100%;
    }
  }

  fieldset {
    width: 100%;
  }

  legend {
    @include font-sizes( $h5-sizes );
    font-weight: 700;
    padding-left: 0.5rem;
  }

  [type="submit"] {
    margin-left: 0.5rem;
  }
}
