///// CART

.woocommerce-cart-form {
  margin: 2em 0;
}

.shop_table {
  width: 100%;
  max-width: $size-medium;
  border: 1px solid $wc-panel-dark;

  th {
    padding: 1em;
    background-color: $wc-panel-dark;
    text-align: left;
  }

  td {
    padding: 0.5em 1em;
  }

  tr {
    border-bottom: 1px solid $wc-panel;

    &:nth-child(even) {
      background-color: $wc-panel;
    }
  }

  .product-name a {
    font-weight: $header-weight;
  }

  .variation {
    dt, dd {
      display: inline-block;
    }
  }

  .product-remove a {
    display: inline-block;
    background-color: $color-red;
    width: 1em;
    height: 1em;

    color: white;
    font-size: em(18px);
    font-weight: 700;
    line-height: 0.9;
    text-align: center;

    border-radius: 50%;

    &:hover { background-color: darken( $color-red, 20% ); }
  }

  img {
    width: 60px;
    height: auto;
  }

  label.screen-reader-text {
    display: none;
  }

  input[type="number"] {
    width: 3.5em;
  }

  // footer
  .actions {
    text-align: right;
  }

  .hoo-subtotal-note {
    font-size: em( $font-size-small );
  }

  button[name="update_cart"] {
    float: left;
  }

}

// cross sells

.cross-sells {
  margin: 3em 0 2em;

  > h3 {
    margin-bottom: 1rem;
    font-weight: 400;
    text-align: center;
  }
}


///// NAV CART /////

.nav-item-cart {
  position: relative;
}

// cart button
.cart-button {
  b {
    display: inline-block;
    padding: 0 0.5em;
    background-color: rgba(black, .3);
    line-height: 1.4;
    font-size: 0.875rem;
    border-radius: $g-radius;
  }
}

.nav-dialog--cart {
  background-color: $wc-panel;

  h3 {
    padding: 0.5rem 0 0.75rem;
    font-size: 0.87rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
  }

  .blockOverlay {
    background-color: rgba(white, .8) !important;
    background-image: url( $spinner_path );
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.widget_shopping_cart_content {
  @include display-flex;
  flex-wrap: wrap;
}

// Item list
.woocommerce-mini-cart {
  background-color: white;
  max-height: 311px;
  overflow-y: auto;

  list-style-type: none;
  text-align: left;
}

.woocommerce-mini-cart-item {
  @include clearfix;
  display: block;
  position: relative;
  padding: 0.5rem;
  border-bottom: 1px solid $wc-panel-dark;
  font-size: em($font-size-small);
  line-height: 1.5;

  img {
    width: 22%;
    float: left;
    margin-right: 0.5em;
  }

  figure {
    position: relative;
  }

  a {
    display: block;
    color: inherit;
    font-weight: 500;

    &:hover { text-decoration: underline;
      img { opacity: .75; }
    }
  }

  .variation {
    margin-bottom: 0.5em;
  }

  dt, dd {
    display: inline-block;
  }
}

// Cart Total
.woocommerce-mini-cart__total {
  padding: 1em 0.5em;
  flex: 1;
  line-height: 1.25;

  .woocommerce-Price-amount {
    font-size: 1.125rem;
  }

  strong {
    font-size: $font-size-small;
  }
}

.woocommerce-mini-cart__buttons {
  align-self: center;
  flex: 1;
  text-align: right;
  padding: 0 0.5em;

  // Hide VIEW CART button because we want to go directly to Checkout
  a:first-child {
    display: none;
  }

  .button {
    text-transform: uppercase;
  }

  .button::after {
    content: " »";
  }
}

// Remove item button on Cart dialog

a.remove_from_cart_button {
  display: inline-block;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;

  background-color: $color-passive;
  width: 1.1rem;
  height: 1.1rem;

  color: white;
  line-height: 0.8;
  font-size: 1.25rem;
  text-align: center;

  border-radius: 50%;

  &:hover {
    background-color: $color-red;
    color: white;
  }
}


// Empty Cart
.woocommerce-mini-cart__empty-message {
  padding: 1.5rem 1.5rem 4rem;
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
}
