// SETTING

$wc-panel: $color-passive-light;
$wc-panel-dark: darken($wc-panel, 5%);

///// GENERAL

.price {
  del {
    display: block;
    opacity: .5;
    font-size: em( $font-size-small );
  }

  ins {
    display: block;
    text-decoration: none;
  }
}

.woocommerce-Price-currencySymbol {
  font-weight: 400;
  font-size: em( $font-size-small );
}


///// CATEGORY LISTING

.shop-categories {
  margin: 2em 0 3em;

  h2 {
    margin-bottom: 1rem;
    font-weight: 400;
    text-align: center;
  }
}

.category-tease {
  a:hover {
    figure { opacity: .8; }
    h3 { text-decoration: underline; }
  }

  figure {
    margin-bottom: 1em;
    transition: $g-transition;
  }

  img {
    border-radius: $g-radius;
  }

  h3 {
    @include font-sizes( $h5-sizes );
    color: $font-color;
    text-align: center;
  }
}

///// PRODUCT LISTING

.products-tile {
  @include below( small ) {
    @include tile( 2, $gutter: 10px );
  }
}

.shop-before-products {
  @include display-flex;
  align-items: center;
  margin: 2em 0;

  p {
    margin-right: 1em;
    margin-left: auto;
    font-size: em( $font-size-small );
  }
}

.shop-products {
  margin: 2em 0;
}

.product-tease {
  position: relative;
  margin-bottom: 1.5em;
  text-align: center;

  figure {
    margin-bottom: 1em;
    transition: $g-transition;

    &:hover { opacity: .8; }
  }

  h3 {
    @include font-sizes( $h5-sizes );

    a {
      display: block;
      color: $font-color;
      &:hover { text-decoration: underline; }
    }
  }

  .price {
    display: block;
  }

  // Tease button
  .button {
    margin-top: 0.5rem;
    font-size: em( $font-size-small );
    vertical-align: middle;
  }

  .button.added {
    position: relative;
    background-color: $color-green;
    border-color: darken( $color-green, 10% );
    color: transparent;

    &::after {
      content: "\f147";
      position: absolute;
      top: 50%;
      left: 50%;

      font-family: "dashicons";
      font-size: 1.25em;
      color: white;
      @include transform( translateX(-50%) translateY(-50%) );
    }
  }

  .added_to_cart {
    display: none;
  }
}

///// ON SALE LABEL

.onsale {
  display: inline-block;
  padding: 0 1em;
  border: 1px dashed white;
  background-color: $color-red;
  color: white;
  font-weight: $header-weight;
  font-size: em( $font-size-small );
  text-transform: uppercase;

  border-radius: $g-radius;
  box-shadow: 0 0 0 2px $color-red;

  .product-tease & {
    position: absolute;
    top: 5px;
    right: 15px;
  }

  .product-figure & {
    position: absolute;
    z-index: z( above_normal );
    top: 10px;
    left: 10px;
  }
}



///// SINGLE PRODUCT

// The wrapper, need to be named "product" to make the gallery works
.product {
  margin: 2em 0;
}

.product_meta {
  margin-top: 1em;
  font-size: em( $font-size-small );

  > span {
    display: block;
  }
}

// product header

.product-header {
  margin-bottom: 2em;

  // Jetpack Sharing
  .sharedaddy {
    padding: 0.5em 0;
    margin: 0.75em 0 0;
    border-bottom: 1px solid $color-passive;
  }

  div.sd-block {
    flex-direction: row;
    align-items: center;
  }

  div.sd-block h3.sd-title {
    margin-bottom: 0;
    margin-right: 1em;
  }
}

// product gallery
.product-figure {
  position: relative;

  .flex-viewport {
    margin-bottom: 0.25em;
    border: 2px solid rgba(black, .05);
    border-radius: $g-radius;
  }

  @include below(small) {
    margin-bottom: 2em;
  }
}

.woocommerce-product-gallery {
  position: relative;
}

.woocommerce-product-gallery__image {
  img {
    border-radius: $g-radius;
  }
}

// full screen zoom
.woocommerce-product-gallery__trigger {
  position: absolute;
  z-index: z( nav_overlay );
  top: 0.5rem;
  right: 0.5rem;

  font-size: 0;

  &::before {
    content: "\f504";
    display: inline-block;

    background-color: white;
    padding: 0.25em;

    font-family: "dashicons";
    font-size: 1.5rem;
    line-height: 1;
    color: $font-color;

    border-radius: $g-radius;
    box-shadow: $shadow-z0;
  }

  &:hover::before {
    background-color: darken(white, 5%);
  }
}

// drag zoom
.zoomImg {
  cursor: zoom-in;

  &[style*="opacity: 1"] {
    cursor: zoom-out;
  }
}

.flex-control-nav {
  @include display-flex;
  flex-wrap: wrap;

  list-style-type: none;
  margin: 1em -0.25em 0;

  li {
    cursor: pointer;
    width: 25%;
    padding: 0 0.25em;

    &:hover img {
      opacity: 1;
    }
  }

  img {
    opacity: .5;
    border-radius: $g-radius;
    transition: $g-transition;
    -webkit-backface-visibility: hidden;
  }

  .flex-active {
    opacity: 1;
    box-shadow: 0 0 0 3px $color-main;
  }
}

///// PRODUCT TABS

ul.wc-tabs {
  @include display-flex;
  flex-wrap: wrap;

  padding-left: 0;
  list-style-type: none;

  li {
  }

  a {
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
  }

  .active a {
    background-color: rgba( $color-main, .2 );
  }
}

.wc-tab {
  > h2:first-child {
    display: none;
  }
}

// product article

.product-article {
}

// product purchase

.product-purchase {
  padding: 0 1em;

  .price {
    display: block;
    background-color: rgba( $color-main, .1 );

    padding: 0.75em;
    border: 1px solid rgba( $color-main, .5 );
    border-radius: $g-radius;

    line-height: 1.15;
    text-align: center;
  }

  > .price {
    margin-bottom: 1.5em;
  }

  .quantity {
    flex: 1;
    margin-right: 1em;
  }

  .amount {
    @include font-sizes( $h5-sizes );
    display: block;
    font-weight: 700;
  }

  label {
    font-size: em( $font-size-small );
  }

  .single_add_to_cart_button {
    align-self: flex-end;
  }
}


// PRODUCT VARIATION

.single_variation_wrap {
  margin-bottom: 1.5em;
}

table.variations {
  margin-top: 1.5em;
  width: 100%;

  label,
  select {
    margin-bottom: 0.5em;
  }
}

.woocommerce-variation-add-to-cart {
  @include display-flex;
}

// Div that appears after selecting variation
.single_variation {

  p,
  .woocommerce-variation-price  {
    margin-bottom: 1em;
  }

  .out-of-stock {
    color: $color-red;
  }
}


///// RELATED PRODUCT

.product-related {
  margin: 4em 0 2em;

  h2 {
    text-align: center;
    font-weight: 400;
  }
}


///// CART

.woocommerce-cart-form {
  margin: 2em 0;
}

.shop_table {
  width: 100%;
  max-width: $size-medium;
  border: 1px solid $wc-panel-dark;

  th {
    padding: 1em;
    background-color: $wc-panel-dark;
    text-align: left;
  }

  td {
    padding: 0.5em 1em;
  }

  tr {
    border-bottom: 1px solid $wc-panel;

    &:nth-child(even) {
      background-color: $wc-panel;
    }
  }

  .product-name a {
    font-weight: $header-weight;
  }

  .variation {
    dt, dd {
      display: inline-block;
    }
  }

  .product-remove a {
    display: inline-block;
    background-color: $color-red;
    width: 1em;
    height: 1em;

    color: white;
    font-size: em(18px);
    font-weight: 700;
    line-height: 0.9;
    text-align: center;

    border-radius: 50%;

    &:hover { background-color: darken( $color-red, 20% ); }
  }

  img {
    width: 60px;
    height: auto;
  }

  label.screen-reader-text {
    display: none;
  }

  input[type="number"] {
    width: 3.5em;
  }

  // footer
  .actions {
    text-align: right;
  }

  .hoo-subtotal-note {
    font-size: em( $font-size-small );
  }

  button[name="update_cart"] {
    float: left;
  }

}

// cross sells

.cross-sells {
  margin: 3em 0 2em;

  > h3 {
    margin-bottom: 1rem;
    font-weight: 400;
    text-align: center;
  }
}


///// CART NAV /////

.cart-nav {
  b {
    display: inline-block;
    padding: 0 0.5em;
    background-color: $color-passive;
    line-height: 1.25rem;
    font-size: 0.875rem;
    border-radius: $g-radius;
  }
}

.cart-dialog {
  background-color: $wc-panel;

  h3 {
    padding: 0.5rem 0 0.75rem;
    font-size: 0.87rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
  }

  .blockOverlay {
    background-color: rgba(white, .8) !important;
    background-image: url( $spinner_path );
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.woocommerce-mini-cart {
  background-color: white;
  max-height: 264px;
  overflow-y: auto;

  list-style-type: none;
  text-align: left;
}

.woocommerce-mini-cart-item {
  @include clearfix;
  display: block;
  position: relative;
  padding: 0.5rem;
  border-bottom: 1px solid $wc-panel-dark;
  line-height: 1.5;

  img {
    width: 25%;
    float: left;
    margin-right: 0.5em;
  }


  figure {
    position: relative;
  }

  a {
    display: block;
    color: inherit;
    font-weight: 500;

    &:hover { text-decoration: underline;
      img { opacity: .75; }
    }
  }

  .variation {
    margin-bottom: 0.5em;
  }

  dt, dd {
    display: inline-block;
  }
}

// Cart Total
.woocommerce-mini-cart__total {
  padding: 1em 0 0.5em;
  text-align: center;

  .woocommerce-Price-amount {
    font-size: 1.125rem;
  }

  .button {
    margin-top: 0.5rem;
  }
}

.woocommerce-mini-cart__buttons {
  text-align: center;

  // Hide VIEW CART button because we want to go directly to Checkout
  a:first-child {
    display: none;
  }

  .button {
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .button::after {
    content: " »";
  }
}

// Remove item button on Cart dialog

a.remove_from_cart_button {
  display: inline-block;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;

  background-color: $color-passive;
  width: 1.1rem;
  height: 1.1rem;

  color: white;
  line-height: 0.8;
  font-size: 1.25rem;
  text-align: center;

  border-radius: 50%;

  &:hover {
    background-color: $color-red;
    color: white;
  }
}


// Empty Cart
.woocommerce-mini-cart__empty-message {
  padding: 1.5rem 1.5rem 4rem;
  text-align: center;
  font-size: 1.25rem;
}


///// MY ACCOUNT

body.woocommerce-account {
  div.woocommerce {
    @include display-flex;
  }
}

///// FRONTEND LOGIN

// form page wrapper
#customer_login,
.woocommerce-ResetPassword::before {
  width: 100%;
  padding: 1em 1em 2em;
  background-color: $wc-panel;
  border: 1px solid $wc-panel-dark;
}

// form wrapper
#customer_login form,
.woocommerce-ResetPassword {
  width: 320px;
  margin: 0 auto;
  padding: 1.5em;
  border: 1px solid $color-passive;
  background-color: white;

  label {
    margin-bottom: 2px;
  }

  .form-row {
    @include display-flex;
    flex-wrap: wrap;

    padding: 0;
    width: 100%;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

// Login & Register form
#customer_login {
  @include clearfix;
  margin: 2em 0 3em;

  .u-column1,
  .u-column2 {
    width: 50%;
    float: left;

    @include below(small) {
      width: 100%;
    }
  }

  h2 {
    margin-bottom: 1em;
    font-weight: $font-weight;
    text-align: center;
    @include font-sizes( $h3-sizes );
  }

  .button {
    order: 2;
    margin-left: auto;
  }

  .woocommerce-LostPassword {
    font-size: em( $font-size-small );
  }
}

// Register form
#customer_login .register {
  background-color: transparent;
}

.woocommerce-password-strength {
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: em($font-size-small);

  &.short,
  &.bad { color: $color-red; }

  &.good,
  &.strong {
    font-weight: $header-weight;
    text-transform: uppercase;
  }
  &.good { color: $color-blue; }
  &.strong { color: $color-green; }
}

// Lost Password Form
.woocommerce-lost-password div.woocommerce {
  position: relative;
}

.woocommerce-ResetPassword {
  margin-top: 4em;
  margin-bottom: 4em;

  p + p {
    margin-top: 1em;
  }

  p:first-of-type {
    font-size: em( $font-size-small );
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: -2em;
    left: 0;
    right: 0;
    bottom: -2em;
  }
}

//// Sidebar navigation

.woocommerce-MyAccount-navigation {
  width: 20%;
  margin: 2em 40px 2em 0;
  background-color: $wc-panel;

  ul {
    @include display-flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    list-style-type: none;
  }

  @include below(small) {
    width: 100%;
    margin-bottom: 1em;

    li { width: 50%; }
  }
}

.woocommerce-MyAccount-navigation-link {
  width: 100%;

  + .woocommerce-MyAccount-navigation-link {
    border-top: 1px solid darken( $wc-panel, 10% );
  }

  &.is-active {
    a {
      background-color: $wc-panel-dark;
      border-left-color: $color-main;
      color: $color-main;

      &::after { color: $color-main; }
    }
  }

  a {
    @include display-flex();
    align-items: center;
    padding: 0.75em 1em;
    border-left: 4px solid transparent;
    width: 100%;

    color: $font-color;
    transition: $g-transition;

    &:hover {
      background-color: $wc-panel-dark;
    }

    &::after {
      margin-left: auto;
      opacity: .7;

      font-size: 1.125em;
      font-family: "dashicons";
    }
  }

  @include below(small) {
    width: 50%;
  }
}

.woocommerce-MyAccount-navigation-link--orders {
  a::after { content: "\f174"; }
}

.woocommerce-MyAccount-navigation-link--edit-address {
  a::after { content: "\f102"; }
}

.woocommerce-MyAccount-navigation-link--edit-account {
  margin-bottom: 2em;

  a::after { content: "\f110"; }
}

.woocommerce-MyAccount-navigation-link--customer-logout {
  margin-top: auto;

  a::after { content: "\f153"; }
}


///// MY ACCOUNT CONTENT

.woocommerce-MyAccount-content {
  flex: 1;
  margin: 2em 0;

  body.woocommerce-orders & {
    max-width: 100%;
    overflow-x: auto;
  }
}

.woocommerce-pagination {
  @include display-flex;
  margin-top: 2em;
  text-align: center;

  a {
    background-color: inherit;
    color: $color-main;

    &:hover { color: $color-main; }
  }

  .woocommerce-button--previous {
    &::before {
      content: "\00AB";
      display: inline-block;
      margin-right: 5px;
    }
  }

  .woocommerce-button--next {
    margin-left: auto;

    &::after {
      content: "\00BB";
      display: inline-block;
      margin-left: 5px;
    }
  }
}


///// MY ACCOUNT - ADDRESS and CUSTOMER DETAIL

// wrapper
.woocommerce-Addresses,
.woocommerce-customer-details {
  margin-top: 1em;
}

.woocommerce-Addresses,
.woocommerce-columns--addresses {
  @include display-flex;

  @include below(small) {
    flex-direction: column;
  }
}

// column
.woocommerce-Address,
.woocommerce-column--billing-address,
.woocommerce-column--shipping-address {
  flex: 1;

  .title {
    @include display-flex;
    align-items: center;
  }

  @include below(small) {
    margin-bottom: 1em;
  }
}

// title
.woocommerce-Address h3,
.woocommerce-column__title {
  @include font-sizes( $h3-sizes );
  font-weight: 400;
  margin-bottom: 0.5rem;
}

// edit button
.woocommerce-Address {

  .edit {
    display: inline-block;
    margin-left: 1em;
    border: 1px solid $color-main;
    padding: 0.25em 0.5em;

    font-size: em( $font-size-small );
    text-transform: uppercase;
    line-height: 1;

    border-radius: $g-radius;

    &:hover { background-color: $color-main; color: white; }
  }
}


///// MY ACCOUNT - ORDER

.account-orders-table {
  font-size: em( $font-size-small );
}

.woocommerce-order-details {
  margin: 2em 0;

  h2 {
    margin-bottom: 1rem;
    font-weight: 400;
  }

  table, thead, tbody, tfoot, tr, td, th {
    display: block;
    padding: 0;
    background-color: inherit;
    border: none;
  }

  thead {
    display: none;
  }
}

.order-again {
  margin-top: 2em;
}


.woocommerce-order-details table {
  overflow: hidden;
  max-width: 600px;

  border: 1px solid $wc-panel-dark;
  border-radius: $g-radius;
  box-shadow: $shadow-z0;
}


.woocommerce-order-details tbody {
  @include display-flex;
  flex-wrap: wrap;
  padding: 1em;

  tr {
    @include display-flex;
    align-items: center;

    width: 100%;
    border: 1px solid $wc-panel-dark;
    padding: 0.5em;

    + tr {
      margin-top: 0.5em;
    }
  }

  img {
    margin-right: 1em;
  }

  td:first-child {
    flex: 1;
  }

  .product-quantity {
    display: inline-block;
    padding: 2px 0.25em;
    margin-left: 0.5em;
    border: 1px solid $color-main;

    color: $color-main;
    line-height: 1;
    font-weight: 400;
    border-radius: $g-radius;
  }
}

.woocommerce-order-details tfoot {
  @include display-flex;
  flex-wrap: wrap;

  width: 100%;
  padding: 1em;
  background-color: $wc-panel;

  th {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: em( $font-size-small );
  }

  td {
  }

  tr {
    width: 25%;
  }

  // total
  tr:last-child {
    width: 100%;
    margin-top: 1em;

    th {
      line-height: 1;
    }

    th, td {
      text-align: center;
    }

    td {
      @include font-sizes( $h3-sizes );
      font-weight: 700;
    }
  }

  .shipped_via {
    display: block;
  }
}

.hoo-customer-note {
  margin: 2em 0;

  h3 {
    margin-bottom: 1rem;
    font-weight: 400;
  }
}

///// MY ACCOUNT - FORM

.woocommerce-address-fields__field-wrapper,
.woocommerce-EditAccountForm {
  @include display-flex;
  flex-wrap: wrap;
  margin: 1em -0.5em 0;
}

.form-row {
  padding: 0 0.5em;
  margin-bottom: 1em;
  width: 50%;

  label {
    color: $font-color-passive;
    font-size: em( $font-size-small );
  }
}


.select2-container .select2-selection--single {
  padding: 5px 0;
  height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  right: 10px;
  width: 20px;
  @include transform( translateY(-50%) );

  b {
    margin: 0;
  }
}


///// MY ACCOUNT - EDIT ADDRESSES

.form-row[id*="_email_field"] {
  width: 40%;

  @include below(small) {
    width: 100%;
  }
}

.form-row[id*="_first_name_field"],
.form-row[id*="_last_name_field"] {
  @include above(small) {
    width: 30%;
  }
}

.form-row[id*="_address_1_field"] {
  width: 66.67%;
}

.form-row[id*="_address_2_field"] {
  width: 33.33%;

  label { letter-spacing: -1em; visibility: hidden; }
}

.form-row[id*="_country_field"],
.form-row[id*="_state_field"] {
  @include above(small) {
    width: 37.5%;
  }
}

.form-row[id*="_postcode_field"] {
  @include above(small) {
    width: 25%;
  }
}


///// MY ACCOUNT - EDIT ACCOUNT

.woocommerce-EditAccountForm {

  // first name, last name
  > .form-row:nth-child(1),
  > .form-row:nth-child(2) {
    @include above(small) {
      width: 30%;
    }
  }

  > .form-row:nth-child(4) {
    width: 40%;

    @include below(small) {
      width: 100%;
    }
  }

  fieldset {
    width: 100%;
  }

  legend {
    @include font-sizes( $h5-sizes );
    font-weight: 700;
    padding-left: 0.5rem;
  }

  [type="submit"] {
    margin-left: 0.5rem;
  }
}




///// TOAST /////


@include keyframes( flipInX ) {
  from {
    @include transform( perspective(400px) rotate3d(1, 0, 0, 90deg) );
    @include animation-timing-function( ease-in );
  }

  40% {
    @include transform( perspective(400px) rotate3d(1, 0, 0, -20deg) );
    @include animation-timing-function( ease-in );
  }

  60% {
    @include transform( perspective(400px) rotate3d(1, 0, 0, 10deg) );
  }

  80% {
    @include transform( perspective(400px) rotate3d(1, 0, 0, -5deg) );
  }

  to {
    @include transform( perspective(400px) );
  }
}


.woocommerce-info,
.woocommerce-message,
.woocommerce-error {
  @include display-flex;
  flex-direction: column-reverse;
  align-items: flex-end;

  pointer-events: none;

  position: fixed;
  z-index: z(nav);
  bottom: 1em;
  right: 1em;
  padding: 1.25em;
  background-color: $color-passive-light;

  box-shadow: $shadow-z2;
  border-radius: $g-radius;

  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  @include animation-name( flipInX );
  @include animation-duration( 1s );
  @include animation-fill-mode( both );

  .button {
    pointer-events: all;
    margin-top: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }

  &::before {
    content: "×";
    cursor: pointer;
    pointer-events: all;

    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;

    text-align: center;
    line-height: 1;
    font-size: em(20px);
    font-weight: $header-weight;
  }
}

.woocommerce-error {
  background-color: $color-red;
  list-style-type: none;
  color: white;
}

.woocommerce-message-close {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;

  text-align: center;
  line-height: 1;
  font-size: em(20px);
  font-weight: $header-weight;

  &:hover {
    background-color: rgba( $color-main, .1 );
  }
}

///// STORE NOTICE

.woocommerce-store-notice {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: $color-main;
  padding: 0.5em 1em;

  text-align: center;
  color: white;
  box-shadow: $shadow-z2;

  a {
    display: inline-block;
    float: right;
    background-color: $color-main-dark;
    padding: 0.5em 2em;
    margin: -0.5em -1em;

    color: white;
    text-decoration: underline;

    &:hover { opacity: .7; }
  }
}
