// SETTING

$wc-panel: #faf9f7;
$wc-panel-dark: darken($wc-panel, 3%);

///// GENERAL

.price {
  del {
    font-size: em( $font-size-small );
  }

  ins {
    color: $color-red;
    text-decoration: none;
  }
}

.woocommerce-Price-currencySymbol {
  font-weight: 400;
  font-size: em( $font-size-small );
}


///// CATEGORY LISTING

.shop-categories {
  margin: 2em 0;

  h2 {
    margin-bottom: 1rem;
    font-weight: 400;
    text-align: center;
  }
}

.category-tease {
  a:hover {
    figure { opacity: .8; }
    h3 { text-decoration: underline; }
  }

  figure {
    margin-bottom: 1em;
    transition: $g-transition;
  }

  h3 {
    @include font-sizes( $h5-sizes );
    color: $font-color;
    text-align: center;
  }
}

///// PRODUCT LISTING

.products-tile {
  @include below( small ) {
    @include tile( 2, $gutter: 10px );
  }
}

.shop-before-products {
  @include display-flex;
  align-items: center;
  margin: 2em 0;

  p {
    margin-right: 1em;
    margin-left: auto;
    font-size: em( $font-size-small );
  }
}

.shop-products {
  margin: 2em 0;
}

.product-tease {
  margin-bottom: 1.5em;
  text-align: center;

  figure {
    margin-bottom: 1em;
    transition: $g-transition;

    &:hover { opacity: .8; }
  }

  h3 {
    @include font-sizes( $h5-sizes );

    a {
      display: block;
      color: $font-color;
      &:hover { text-decoration: underline; }
    }
  }

  .price {
    display: block;
  }

  .onsale {
    display: inline-block;
    margin-bottom: 0.5rem;
    padding: 0 1em;
    border: 1px solid $font-color-passive;
    color: $font-color-passive;
    font-size: em( $font-size-small );

    border-radius: $g-radius;
  }

  .button {
    margin-top: 0.5rem;
    font-size: em( $font-size-small );
  }
}


///// SINGLE PRODUCT

.product-wrapper {
  margin: 2em 0;
}

// product header


.product-header {
  margin-bottom: 2em;

  h1 {
    @include font-sizes( $h2-sizes );
  }

  .sharedaddy {
    padding: 0.5em 0;
    margin: 0.75em 0 0;
    border-bottom: 1px solid $color-passive;
  }
}

// product gallery
.woocommerce-product-gallery {
  position: relative;
}

.woocommerce-product-gallery__image {
  img {
    border-radius: $g-radius;
  }
}

// full screen zoom
.woocommerce-product-gallery__trigger {
  position: absolute;
  z-index: z( nav_overlay );
  top: 0.5rem;
  right: 0.5rem;

  font-size: 0;

  &::before {
    content: "\f504";
    display: inline-block;

    background-color: white;
    padding: 0.25em;

    font-family: $font-family-icon;
    font-size: 1.5rem;
    line-height: 1;
    color: $font-color;

    border-radius: $g-radius;
    box-shadow: $shadow-z0;
  }

  &:hover::before {
    background-color: darken(white, 5%);
  }
}

// drag zoom
.zoomImg {
  cursor: zoom-in;

  &[style*="opacity: 1"] {
    cursor: zoom-out;
  }
}

.flex-control-nav {
  @include display-flex;
  flex-wrap: wrap;

  list-style-type: none;
  margin: 1em -0.25em 0;

  li {
    cursor: pointer;
    width: 25%;
    padding: 0 0.25em;

    &:hover img {
      opacity: 1;
    }
  }

  img {
    opacity: .5;
    border-radius: $g-radius;
    transition: $g-transition;
    -webkit-backface-visibility: hidden;
  }

  .flex-active {
    opacity: 1;
    box-shadow: 0 0 0 3px $color-main;
  }
}

// product article
.product-article {

  @include above(small) {
    padding: 0 1.5em;
  }
}

button.single_add_to_cart_button {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

// product purchase

.product-purchase {
  .price {
    display: block;
    padding: 0.75em;
    margin-bottom: 0.5em;
    border: 1px solid $color-passive;
    border-radius: $g-radius;

    line-height: 1.15;
    text-align: center;
    color: $color-red;
  }

  .amount {
    @include font-sizes( $h5-sizes );
    display: block;
    font-weight: 700;
  }
}

.woocommerce-variation-add-to-cart {
  @include display-flex;

}


// product related
.product-related {
  margin: 3em 0 2em;

  h2 {
    text-align: center;
    font-weight: 400;
  }
}


///// CART

.shop_table {
  width: 100%;
  max-width: $size-medium;
  border: 1px solid $wc-panel-dark;

  th {
    padding: 1em;
    background-color: $wc-panel-dark;
    text-align: left;
  }

  td {
    padding: 0.5em 1em;
  }

  tr {
    border-bottom: 1px solid $wc-panel;

    &:nth-child(even) {
      background-color: $wc-panel;
    }
  }

  .product-remove a {
    display: inline-block;
    background-color: $color-red;
    width: 1em;
    height: 1em;

    color: white;
    font-size: em(18px);
    font-weight: 700;
    line-height: 0.9;
    text-align: center;

    border-radius: 50%;

    &:hover { background-color: darken( $color-red, 20% ); }
  }

  img {
    width: 60px;
    height: auto;
  }

  label.screen-reader-text {
    display: none;
  }

  input[type="number"] {
    width: 3.5em;
  }

  // footer
  .actions {
    text-align: right;
  }

  .hoo-subtotal-note {
    font-size: em( $font-size-small );
  }

  button[name="update_cart"] {
    float: left;
  }

}

// cross sells

.cross-sells {
  margin: 3em 0 2em;

  > h3 {
    margin-bottom: 1rem;
    font-weight: 400;
    text-align: center;
  }
}


///// CART NAV /////

.cart-nav {

  &.cart-nav--active {
    background-color: $color-main;
    color: white;
  }

  b {
    display: inline-block;
    background-color: $color-main-dark;
    padding: 0 0.5em;
    line-height: 1.25rem;

    font-size: 0.875rem;
    border-radius: $g-radius;
  }
}

.cart-dialog {
  background-color: $wc-panel;

  h3 {
    padding: 0.5rem 0 0.75rem;
    font-size: 0.87rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
  }
}


// Table on Cart Dialog

.cart-dialog-table {
  background-color: white;
  text-align: left;

  td {
    position: relative;
    padding: 0.5rem;
    line-height: 1.5;
  }

  td:first-child {
    width: 25%;
  }

  tr {
    border-bottom: 1px solid $wc-panel-dark;
  }

  figure {
    position: relative;
  }

  a {
    font-weight: 700;
  }
}

// Remove item button on Cart dialog

.cart-dialog-remove {
  display: inline-block;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;

  background-color: $color-passive;
  width: 1.1rem;
  height: 1.1rem;

  color: white;
  line-height: 0.8;
  font-size: 1.25rem;
  text-align: center;

  border-radius: 50%;

  &:hover {
    background-color: $color-red;
    color: white;
  }
}

// Cart Total

.cart-dialog-total {
  padding: 0.5rem 0;
  text-align: center;

  p {
    font-size: 1.125rem;
  }

  .button {
    margin-top: 0.5rem;
  }
}


// Empty Cart

.cart-dialog-empty {
  padding: 1.5rem 1.5rem 4rem;
  text-align: center;

  p {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
}


///// MY ACCOUNT

body.woocommerce-account div.woocommerce {
  @include display-flex;
  flex-wrap: wrap;
  margin: 2em 0;
}

.woocommerce-MyAccount-navigation {
  width: 20%;
  margin-right: 40px;
  background-color: $wc-panel;

  ul {
    @include display-flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    list-style-type: none;
  }

  @include below(small) {
    width: 100%;
    margin-bottom: 1em;

    li { width: 50%; }
  }
}

.woocommerce-MyAccount-navigation-link {
  width: 100%;

  + .woocommerce-MyAccount-navigation-link {
    border-top: 1px solid darken( $wc-panel, 10% );
  }

  &.is-active {
    a {
      background-color: $wc-panel-dark;
      border-left-color: $color-main;
      color: $color-main;

      &::after { color: $color-main; }
    }
  }

  a {
    @include display-flex();
    align-items: center;
    padding: 0.75em 1em;
    border-left: 4px solid transparent;
    width: 100%;

    color: $font-color-passive;
    transition: $g-transition;

    &:hover {
      background-color: $wc-panel-dark;
    }

    &::after {
      margin-left: auto;
      opacity: .7;

      font-size: 1.125em;
      font-family: $font-family-icon;
    }
  }

  @include below(small) {
    width: 50%;
  }
}

.woocommerce-MyAccount-navigation-link--orders {
  a::after { content: "\f174"; }
}

.woocommerce-MyAccount-navigation-link--edit-address {
  a::after { content: "\f102"; }
}

.woocommerce-MyAccount-navigation-link--edit-account {
  margin-bottom: 2em;

  a::after { content: "\f110"; }
}

.woocommerce-MyAccount-navigation-link--customer-logout {
  margin-top: auto;

  a::after { content: "\f153"; }
}


///// MY ACCOUNT CONTENT

.woocommerce-MyAccount-content {
  flex: 1;

  body.woocommerce-orders & {
    max-width: 100%;
    overflow-x: auto;
  }
}

.woocommerce-pagination {
  @include display-flex;
  margin-top: 2em;
  text-align: center;

  a {
    width: 100px;
    background-color: inherit;
    text-align: center;
    color: $color-main;
  }

  .woocommerce-button--previous {
    &::before {
      content: "\00AB";
      display: inline-block;
      margin-right: 5px;
    }
  }

  .woocommerce-button--next {
    margin-left: auto;

    &::after {
      content: "\00BB";
      display: inline-block;
      margin-left: 5px;
    }
  }
}


///// MY ACCOUNT - ADDRESS and CUSTOMER DETAIL

// wrapper
.woocommerce-Addresses,
.woocommerce-customer-details {
  margin-top: 1em;
}

.woocommerce-Addresses,
.woocommerce-columns--addresses {
  @include display-flex;

  @include below(small) {
    flex-direction: column;
  }
}

// column
.woocommerce-Address,
.woocommerce-column--billing-address,
.woocommerce-column--shipping-address {
  flex: 1;

  .title {
    @include display-flex;
    align-items: center;
  }

  @include below(small) {
    margin-bottom: 1em;
  }
}

// title
.woocommerce-Address h3,
.woocommerce-column__title {
  @include font-sizes( $h3-sizes );
  font-weight: 400;
  margin-bottom: 0.5rem;
}

// edit button
.woocommerce-Address {

  .edit {
    display: inline-block;
    margin-left: 1em;
    border: 1px solid $color-main;
    padding: 0.25em 0.5em;

    font-size: em( $font-size-small );
    text-transform: uppercase;
    line-height: 1;

    border-radius: $g-radius;

    &:hover { background-color: $color-main; color: white; }
  }
}


///// MY ACCOUNT - ORDER

.account-orders-table {
  font-size: em( $font-size-small );
}

.woocommerce-order-details {
  margin: 2em 0;

  h2 {
    margin-bottom: 1rem;
    font-weight: 400;
  }

  table, thead, tbody, tfoot, tr, td, th {
    display: block;
    padding: 0;
    background-color: inherit;
    border: none;
  }

  thead {
    display: none;
  }
}

.order-again {
  margin-top: 2em;
}


.woocommerce-order-details table {
  overflow: hidden;
  max-width: 600px;

  border: 1px solid $wc-panel-dark;
  border-radius: $g-radius;
  box-shadow: $shadow-z0;
}


.woocommerce-order-details tbody {
  @include display-flex;
  flex-wrap: wrap;
  padding: 1em;

  tr {
    @include display-flex;
    align-items: center;

    width: 100%;
    border: 1px solid $wc-panel-dark;
    padding: 0.5em;

    + tr {
      margin-top: 0.5em;
    }
  }

  img {
    margin-right: 1em;
  }

  td:first-child {
    flex: 1;
  }

  .product-name {
    font-weight: 700;
  }

  .product-quantity {
    display: inline-block;
    padding: 2px 0.25em;
    margin-left: 0.5em;
    border: 1px solid $color-main;

    color: $color-main;
    line-height: 1;
    font-weight: 400;
    border-radius: $g-radius;
  }
}

.woocommerce-order-details tfoot {
  @include display-flex;
  flex-wrap: wrap;

  width: 100%;
  padding: 1em;
  background-color: $wc-panel;

  th {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: em( $font-size-small );
  }

  td {
  }

  tr {
    width: 25%;
  }

  // total
  tr:last-child {
    width: 100%;
    margin-top: 1em;

    th {
      line-height: 1;
    }

    th, td {
      text-align: center;
    }

    td {
      @include font-sizes( $h3-sizes );
      font-weight: 700;
    }
  }

  .shipped_via {
    display: block;
  }
}

.hoo-customer-note {
  margin: 2em 0;

  h3 {
    margin-bottom: 1rem;
    font-weight: 400;
  }
}

///// MY ACCOUNT - FORM

.woocommerce-address-fields__field-wrapper,
.woocommerce-EditAccountForm {
  @include display-flex;
  flex-wrap: wrap;
  margin: 1em -0.5em 0;
}

.form-row {
  padding: 0 0.5em;
  margin-bottom: 1em;
  width: 50%;

  label {
    color: $font-color-passive;
    font-size: em( $font-size-small );
  }
}


.select2-container .select2-selection--single {
  padding: 5px 0;
  height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  right: 10px;
  width: 20px;
  @include transform( translateY(-50%) );

  b {
    margin: 0;
  }
}


///// MY ACCOUNT - EDIT ADDRESSES

.form-row[id*="_email_field"] {
  width: 40%;

  @include below(small) {
    width: 100%;
  }
}

.form-row[id*="_first_name_field"],
.form-row[id*="_last_name_field"] {
  @include above(small) {
    width: 30%;
  }
}

.form-row[id*="_address_1_field"] {
  width: 66.67%;
}

.form-row[id*="_address_2_field"] {
  width: 33.33%;

  label { letter-spacing: -1em; visibility: hidden; }
}

.form-row[id*="_country_field"],
.form-row[id*="_state_field"] {
  @include above(small) {
    width: 37.5%;
  }
}

.form-row[id*="_postcode_field"] {
  @include above(small) {
    width: 25%;
  }
}


///// MY ACCOUNT - EDIT ACCOUNT

.woocommerce-EditAccountForm {

  // first name, last name
  > .form-row:nth-child(1),
  > .form-row:nth-child(2) {
    @include above(small) {
      width: 30%;
    }
  }

  > .form-row:nth-child(4) {
    width: 40%;

    @include below(small) {
      width: 100%;
    }
  }

  fieldset {
    width: 100%;
  }

  legend {
    @include font-sizes( $h5-sizes );
    font-weight: 700;
    padding-left: 0.5rem;
  }

  [type="submit"] {
    margin-left: 0.5rem;
  }
}




///// TOAST /////

.woocommerce-info,
.woocommerce-message {
  background-color: white;

  box-shadow: $shadow-z0;
}

.woocommerce-info {
  border-top-color: $color-blue;

  &::before { color: $color-blue; }

  // so it looks merged with coupon form
  .woocommerce-checkout & {
    margin-bottom: 0 !important;
  }

  a {
    color: $color-blue;

    &:hover { color: lighten($color-blue, 10%); }
  }
}

.woocommerce-message {
  border-top-color: $color-green;

  &::before { color: $color-green; }

  a.button {
    border-color: $color-green;
    color: $color-green;

    &:hover { background-color: $color-green; color: white; }
  }
}

.woocommerce-error {
  border-top-color: $color-red;
  color: $color-red;
}

///// STORE NOTICE

.woocommerce-store-notice {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: $color-main;
  padding: 0.5em 1em;

  text-align: center;
  color: white;
  box-shadow: $shadow-z2;

  a {
    display: inline-block;
    float: right;
    background-color: $color-main-dark;
    padding: 0.5em 2em;
    margin: -0.5em -1em;

    color: white;
    text-decoration: underline;

    &:hover { opacity: .7; }
  }
}
