// SETTING
@import "setting";
@import "edje-v15";

$wc-panel: $color-passive-light;
$wc-panel-dark: darken($wc-panel, 5%);

@import "shop-myaccount";
@import "shop-cart";

///// GENERAL

.price {
  del {
    display: block;
    opacity: .5;
    font-size: em( $font-size-small );
  }

  ins {
    display: block;
    text-decoration: none;
  }
}

// Change currency to be smaller
.woocommerce-Price-currencySymbol {
  font-weight: 400;
  font-size: em( $font-size-small );
}

// Toast alert
@include keyframes( flipInX ) {
  from {
    @include transform( perspective(400px) rotate3d(1, 0, 0, 90deg) );
    @include animation-timing-function( ease-in );
  }

  40% {
    @include transform( perspective(400px) rotate3d(1, 0, 0, -20deg) );
    @include animation-timing-function( ease-in );
  }

  60% {
    @include transform( perspective(400px) rotate3d(1, 0, 0, 10deg) );
  }

  80% {
    @include transform( perspective(400px) rotate3d(1, 0, 0, -5deg) );
  }

  to {
    @include transform( perspective(400px) );
  }
}

.woocommerce-info,
.woocommerce-message,
.woocommerce-error {
  @include display-flex;
  flex-direction: column-reverse;
  align-items: flex-end;

  pointer-events: none;

  position: fixed;
  z-index: z(nav);
  bottom: 1em;
  right: 1em;
  padding: 1.25em;
  background-color: $color-passive-light;

  box-shadow: $shadow-z2;
  border-radius: $g-radius;

  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  @include animation-name( flipInX );
  @include animation-duration( 1s );
  @include animation-fill-mode( both );

  .button {
    pointer-events: all;
    margin-top: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }

  &::before {
    content: "×";
    cursor: pointer;
    pointer-events: all;

    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;

    text-align: center;
    line-height: 1;
    font-size: em(20px);
    font-weight: $header-weight;
  }
}

.woocommerce-error {
  background-color: $color-red;
  list-style-type: none;
  color: white;
}

.woocommerce-message-close {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;

  text-align: center;
  line-height: 1;
  font-size: em(20px);
  font-weight: $header-weight;

  &:hover {
    background-color: rgba( $color-main, .1 );
  }
}

// store-wide notice
.woocommerce-store-notice {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: $color-main;
  padding: 0.5em 1em;

  text-align: center;
  color: white;
  box-shadow: $shadow-z2;

  a {
    display: inline-block;
    float: right;
    background-color: $color-main-dark;
    padding: 0.5em 2em;
    margin: -0.5em -1em;

    color: white;
    text-decoration: underline;

    &:hover { opacity: .7; }
  }
}


///// CATEGORY LISTING

.shop-categories {
  margin: 2em 0 3em;

  h2 {
    margin-bottom: 1rem;
    font-weight: 400;
    text-align: center;
  }
}

.category-tease {
  a:hover {
    figure { opacity: .8; }
    h3 { text-decoration: underline; }
  }

  figure {
    margin-bottom: 1em;
    transition: $g-transition;
  }

  img {
    border-radius: $g-radius;
  }

  h3 {
    @include font-sizes( $h5-sizes );
    color: $font-color;
    text-align: center;
  }
}

///// PRODUCT LISTING

.products-tile {
  @include below( small ) {
    @include tile( 2, $gutter: 10px );
  }
}

.shop-before-products {
  @include display-flex;
  align-items: center;
  margin: 2em 0;

  p {
    margin-right: 1em;
    margin-left: auto;
    font-size: em( $font-size-small );
  }
}

.shop-products {
  margin: 2em 0;
}

.product-tease {
  position: relative;
  margin-bottom: 1.5em;
  text-align: center;

  figure {
    margin-bottom: 1em;
    transition: $g-transition;

    &:hover { opacity: .8; }
  }

  h3 {
    @include font-sizes( $h5-sizes );

    a {
      display: block;
      color: $font-color;
      &:hover { text-decoration: underline; }
    }
  }

  .price {
    display: block;
  }

  // Tease button
  .button {
    margin-top: 0.5rem;
    font-size: em( $font-size-small );
    vertical-align: middle;
  }

  .button.added {
    position: relative;
    background-color: $color-green;
    border-color: darken( $color-green, 10% );
    color: transparent;

    &::after {
      content: "\f147";
      position: absolute;
      top: 50%;
      left: 50%;

      font-family: "dashicons";
      font-size: 1.25em;
      color: white;
      @include transform( translateX(-50%) translateY(-50%) );
    }
  }

  .added_to_cart {
    display: none;
  }
}

///// ON SALE LABEL

.onsale {
  display: inline-block;
  padding: 0 1em;
  border: 1px dashed white;
  background-color: $color-red;
  color: white;
  font-weight: $header-weight;
  font-size: em( $font-size-small );
  text-transform: uppercase;

  border-radius: $g-radius;
  box-shadow: 0 0 0 2px $color-red;

  .product-tease & {
    position: absolute;
    top: 5px;
    right: 15px;
  }

  .product-figure & {
    position: absolute;
    z-index: z( above_normal );
    top: 10px;
    left: 10px;
  }
}



///// SINGLE PRODUCT

// The wrapper, need to be named "product" to make the gallery works
.product {
  margin: 2em 0;
}

.product_meta {
  margin-top: 1em;
  font-size: em( $font-size-small );

  > span {
    display: block;
  }
}

// product header

.product-header {
  margin-bottom: 2em;

  // Jetpack Sharing
  .sharedaddy {
    padding: 0.5em 0;
    margin: 0.75em 0 0;
    border-bottom: 1px solid $color-passive;
  }

  div.sd-block {
    flex-direction: row;
    align-items: center;
  }

  div.sd-block h3.sd-title {
    margin-bottom: 0;
    margin-right: 1em;
  }
}

// product gallery
.product-figure {
  position: relative;

  .flex-viewport {
    margin-bottom: 0.25em;
    border: 2px solid rgba(black, .05);
    border-radius: $g-radius;
  }

  @include below(small) {
    margin-bottom: 2em;
  }
}

.woocommerce-product-gallery {
  position: relative;
}

.woocommerce-product-gallery__image {
  img {
    border-radius: $g-radius;
  }
}

// full screen zoom
.woocommerce-product-gallery__trigger {
  position: absolute;
  z-index: z( nav_overlay );
  top: 0.5rem;
  right: 0.5rem;

  font-size: 0;

  &::before {
    content: "\f504";
    display: inline-block;

    background-color: white;
    padding: 0.25em;

    font-family: "dashicons";
    font-size: 1.5rem;
    line-height: 1;
    color: $font-color;

    border-radius: $g-radius;
    box-shadow: $shadow-z0;
  }

  &:hover::before {
    background-color: darken(white, 5%);
  }
}

// drag zoom
.zoomImg {
  cursor: zoom-in;

  &[style*="opacity: 1"] {
    cursor: zoom-out;
  }
}

.flex-control-nav {
  @include display-flex;
  flex-wrap: wrap;

  list-style-type: none;
  margin: 1em -0.25em 0;

  li {
    cursor: pointer;
    width: 25%;
    padding: 0 0.25em;

    &:hover img {
      opacity: 1;
    }
  }

  img {
    opacity: .5;
    border-radius: $g-radius;
    transition: $g-transition;
    -webkit-backface-visibility: hidden;
  }

  .flex-active {
    opacity: 1;
    box-shadow: 0 0 0 3px $color-main;
  }
}

///// PRODUCT TABS

ul.wc-tabs {
  @include display-flex;
  flex-wrap: wrap;

  padding-left: 0;
  list-style-type: none;

  li {
  }

  a {
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
  }

  .active a {
    background-color: rgba( $color-main, .2 );
  }
}

.wc-tab {
  > h2:first-child {
    display: none;
  }
}

// product article

.product-article {
}

// product purchase

.product-purchase {
  padding: 0 1em;

  form.cart {
    @include display-flex;
    flex-wrap: wrap;
  }

  .price {
    display: block;
    background-color: rgba( $color-main, .1 );

    padding: 0.75em;
    border: 1px solid rgba( $color-main, .5 );
    border-radius: $g-radius;

    line-height: 1.15;
    text-align: center;
  }

  > .price {
    margin-bottom: 1.5em;
  }

  .quantity {
    flex: 1;
    margin-right: 1em;
  }

  .amount {
    @include font-sizes( $h5-sizes );
    display: block;
    font-weight: 700;
  }

  label {
    font-size: em( $font-size-small );
  }

  .single_add_to_cart_button {
    align-self: flex-end;
  }

  //

  @include below(small) {
    margin-bottom: 1.5em;
  }
}

///// PRODUCT RATING

.woocommerce-Reviews {
  h2 {
    display: none;
  }

  ol {
    list-style-type: none;
    padding-left: 0;
  }
}

.comment-review {
  margin-bottom: 1em;
  border: 1px solid rgba(black, .05);
  border-radius: $g-radius;
}

.review-header {
  @include display-flex;
  align-items: center;

  background-color: rgba(black, .05);
  padding: 0.5em;
  line-height: 1.25;


  .meta {
    margin-bottom: 0;
    font-size: em( $font-size-small );
  }

  time {
    display: inline-block;
    color: $font-color-passive;
    font-size: em( $font-size-small );
  }
}

.review-text {
  padding: 0.5em;

  p {
    margin-bottom: 0.5em;
  }
}

///// STAR RATING

.star-rating {
  display: inline-block;
  position: relative;
  line-height: 1;

  &::before,
  span::before {
    content: '★★★★★';
    color: $font-color;
    font-size: 1rem;
  }

  &::before {
    opacity: .25;
  }

  span {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
  }
}

.comment-form-rating {
  margin-bottom: 1em;

  a {
    opacity: .25;
    display: inline-block;
    font-size: 0;
    line-height: 1;
    text-decoration: none;
  }

  a::before {
    content: '★';
    font-size: 1.25rem;
  }

  .stars {
    display: inline-block;
  }

  .stars:hover a,
  .selected a {
    opacity: 1;
  }

  a:hover ~ a,
  a.active ~ a {
    opacity: .25 !important;
  }
}

// PRODUCT VARIATION

.single-variation-wrap {
  margin-bottom: 1.5em;
}

// Div that appears after selecting variation
.single_variation {
  @include flex;
  flex-direction: column;


  .out-of-stock {
    color: $color-red;
  }

  .woocommerce-variation-price {
    order: 1;
    margin-bottom: 1em;
  }

  .woocommerce-variation-availability {
    order: 2;
  }

  .woocommerce-variation-description {
    order: 3;

    p { margin-bottom: 1em; }
  }
}

.woocommerce-variation-add-to-cart {
  @include display-flex;
}

table.variations {
  margin-top: 1.5em;
  width: 100%;

  label,
  select {
    margin-bottom: 0.5em;
  }
}



///// RELATED PRODUCT

.product-related {
  margin: 4em 0 2em;

  h2 {
    text-align: center;
    font-weight: 400;
  }
}
