{% if post.comment_status != "closed" %}
<section class="post-comments post-content">

  {# Form #}
  {{ post.comment_form }}

  {% if post.comment_count %}
    <h4 class="comment-title">{{ post.comment_count }} comments</h4>
  {% endif %}

  {# Comments #}
  <ul class="comments-list">
    {% for c in post.comments %}
    <li>
      {% include "partials/_comment.twig" with { comment: c } %}

      {# Replies #}
      {% if c.children %}
      <ul class="replies-list">
        {% for r in c.children %}
          <li> {% include "partials/_comment.twig" with { comment: r } %} </li>
        {% endfor %}
      </ul>
      {% endif %}

    </li>
    {% endfor %}
  </ul>

</section>
{% endif %} {# if open #}
