{# SEARCH #}
<form class="menu-item search-form" method="get" action="{{ home_url }}">
  <input type="search" name="s" placeholder="Search">

  <button id="search-toggle">
    <i class="icon">search</i>
  </button>
</form>

{# SOCIAL #}
<div class="menu-item">
  <a href="">
    <i class="icon">facebook_box</i>
  </a>
</div>
