<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- WEBSITE DETAIL -->
  <title>My Website</title>
  <meta name="theme-color" content=""> <!-- use Hex color -->
  <meta name="description" content="This is a description of your website, only first 160 characters matters">

  <!-- FAVICON -->
  <link rel="icon" href="assets/images/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/images/favicon-big.png">

  <!-- STYLESHEET -->
  <link rel="stylesheet" href="assets/css/framework.css">
  <link rel="stylesheet" href="assets/css/app.css">

</head>
<body>
<div id="main-wrapper">

  <!-- CONTENT HERE -->

  <div id="footer-push"></div>
</div>
<footer class="main-footer"></footer>

<!-- JAVASCRIPT LIBRARY -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<script src="assets/js/vendor/jquery.min.js"></script>

<script src="assets/js/vendor/fastclick.min.js"></script>
<script src="assets/js/app.js"></script>

</body>
</html>
