<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- WEBSITE DETAIL -->
  <title>My Website</title>
  <meta name="theme-color" content="#00aadc">
  <meta name="description" content="This is a description of your website, only first 160 characters matters">

  <!-- FAVICON -->
  <link rel="icon" href="assets/images/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/images/logo.png">

  <!-- STYLESHEET -->
  <link rel="stylesheet" href="assets/css/framework.css">
  <link rel="stylesheet" href="assets/css/app.css">
  <link rel="stylesheet" href="assets/css/dashicons.css">

</head>
<body>

<!-- NAVIGATION -->
<section class="main-nav"> <h-grid> <div class="large-12 nav-wrapper">
  <!-- Logo -->
  <div class="nav-logo">
    <a href="/" class="custom-logo-link">
      <img src="assets/images/logo.png" class="custom-logo" itemprop="logo">
    </a>
  </div>

  <!-- Mobile toggle -->
  <div id="nav-toggle" class="menu-item nav-toggle">
    <a>
      <i class="dashicons-before dashicons-menu"></i> Menu
    </a>
  </div>

  <!-- Nav Items -->
  <nav class="nav-items">
    <div class="nav-item current-menu-item">
      <a href="/"> Home </a>
    </div>
    
    <div class="nav-item">
      <a href="/about"> About Us </a>

      <div class="nav-children">
        <a href="/company-profile">Company Profile</a>
        <a href="/history">History</a>
      </div>
    </div>

    <div class="nav-item">
      <a href="/"> Contact Us </a>
    </div>
  </nav>

  <!-- Nav Items aligned right -->
  <div class="nav-extra">
    <form class="nav-search" method="get" action="{{ home_url }}">
      <input id="search" type="search" name="s" placeholder="Press Enter to search">

      <label for="search" class="button button--passive">
        <i class="dashicons-before dashicons-search"></i>
        <span>Search</span>
      </label>
    </form>

    <a href="tel:+1234567890" class="button">
      <i class="dashicons-before dashicons-phone"></i>
      <span>+12 3456 7890</span>
    </a>
  </div>

</div> </h-grid> </section>

<!-- MAIN CONTENT -->
<main>

  <h-grid> <article class="large-12">
    <h1>Hello World</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quae, nostrum quo esse, repellendus deleniti eligendi impedit voluptas voluptatibus obcaecati.</p>
  </article> </h-grid>

</main>


<!-- FOOTER -->
<footer class="main-footer">
  <div class="footer-bar">
    <h-grid>
      <div class="copyright large-6">
        <header> Copyright &copy; 2019 My Website </header>
      </div>

      <div class="partners large-6">
        <header>Created by:</header>
        <a href="https://pixelstudio.id" target="_blank">
          <img src="https://cdn.setyono.net/pixelstudio/partner-logo.png">

          <div class="partner-caption">
            <h5>Pixel Studio</h5>
            <p>Web & App Design</p>
          </div>
        </a>
      </div>

    </div> </h-grid>
  </div>
</footer>

<!-- JAVASCRIPT LIBRARY -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="assets/js-vendor/h-slider.min.js"></script>
<script src="assets/js-vendor/h-lightbox.min.js"></script>
<script src="assets/js/app.js"></script>

</body>
</html>
