{# NOTE: This file is called when updating Cart button via AJAX #}

<a class="{{ woo.cart.is_empty ? 'button button--passive' : 'button' }}"
  data-dialog="cart-dialog"
  href="{{ fn('wc_get_cart_url') }}">

  <i class="dashicons-before dashicons-cart"></i>
  <span>{{ __('Cart', 'my') }}</span>
  
  <b>{{ woo.cart.get_cart_contents_count }}</b>

</a>
