<section class="shop-products">

  <h-tile class="products-tile tile-{{ fn('wc_get_loop_prop', 'columns') }}">
    {% for p in products %}
      {% include "shop/_product-tease.twig" %}
    {% endfor %}
  </h-tile>

  {% if not products %}
    <h-grid>
      <div class="large-4"></div>
      <article class="large-4 content-error">
        <h1>Product <span>Not Found</span></h1>
        <p>
          Sorry, there is no product listed here yet
        </p>
      </article>
    </h-grid>
  {% endif %}

</section>
