{% extends "layout.twig" %}
{% block content %}

<h-grid>
  <section class="shop-title large-8">
    <h1>{{ title }}</h1>
    {{ content }}
  </section>
</h-grid>

<h-grid> <div class="large-12">
  {% do action("woocommerce_before_main_content") %}

  {% if categories %}
    {% include "shop/_categories.twig" with { categories: categories } %}
  {% endif %}

  <section class="shop-before-products">
    {% do action("woocommerce_before_shop_loop") %}
  </section>

  {% if products %}
    {% include "shop/_products.twig" with { products: products } %}
  {% endif %}

  {% do action("woocommerce_after_shop_loop") %}
  {% do action("woocommerce_after_main_content") %}

</div> </h-grid>

{% endblock %}
