{% extends "layout.twig" %}
{% block content %}

<h-row><h-column class="large-4 centered">
	<article class="content-error">
		<h1>Page <span>Not Found</span></h1>
		<p>
			Sorry, the page you are looking for does not exist or has been deleted.
	  </p>
	</article>
</h-column></h-row>

{% endblock %}
