{% extends "layout.twig" %}
{% block content %}

<h-row class="post-row"><h-column class="post-col" id="content">

  <div class="banner-author">
    {% include "partials/_author-info.twig" with { author: user } %}
  </div>

  {% include "partials/_posts.twig" %}
  {% include "partials/_pagination.twig" %}

</h-column></h-row>

{% endblock %}
