{% extends "layout.twig" %}
{% block content %}

<h-grid class="post-grid">

  <div class="banner-author">
    {% include "partials/_author-info.twig" with { author: user } %}
  </div>

  {% include "partials/_posts.twig" %}
  {% include "partials/_pagination.twig" %}

</h-grid>

{% endblock %}
