{% extends "layout.twig" %}
{% block content %}

<h-grid class="post-grid"> <div class="large-4" id="content">

  {# Blog Nav #}
  <nav class="blog-nav">
    <a href="{{ blog_url }}" {% if not term %} class="active" {% endif %}>All</a>

    {% for item in blog_nav %}
      <a href="{{ item.link }}" {% if item.title == term.name %} class="active" {% endif %}>{{ item.title }}</a>
    {% endfor %}
  </nav>

  {% include "partials/_posts.twig" %}
  {% include "partials/_pagination.twig" %}

</div> </h-grid>

{% endblock %}
