{% extends "layout.twig" %}
{% block content %}

{# ACF Flexible content #}
{% for layout in post.get_field( 'layouts' ) %}
  <section class="layout {{ layout.acf_fc_layout | replace({"_": "-"}) }}">
    {% include "layouts/_" ~ layout.acf_fc_layout | replace({"_": "-"}) ~ ".twig" %}
  </section>
{% endfor %}

{% endblock %}
