{% extends "layout.twig" %}
{% block content %}

<h-grid class="post-grid"> <div class="large-4">

  <h1>Search result for {{ query }}</h1>
  {% include "partials/_posts.twig" %}

</div> </h-grid>

{% endblock %}
