{% extends "layout.twig" %}
{% block content %}

{# Header #}
<h-grid class="post-grid">
  <header class="post-header large-4">
    <h1>{{ post.title }}</h1>
    {% include "partials/_post-meta.twig" %}
  </header>
</h-grid>

{% if post.thumbnail %}
  <figure class="post-featured-image">
    <img src="{{ post.thumbnail.src('large') }}" alt="{{ post.title }} Banner">
  </figure>
{% endif %}


{# Content #}
<h-grid class="post-grid">
  <article class="post-content large-4">
    {{ post.content }}

    <footer class="post-author">
      {% include "partials/_author-info.twig" with { author: post.author } %}
    </footer>
  </article>
</h-grid>

{# Comments #}
<footer class="post-footer">
  <h-grid class="post-footer-grid"> <div class="large-4">

    {% include "partials/_related-posts.twig" %}
    {% include "partials/_comments.twig" %}
  </div> </h-grid>
</footer>


{% endblock %}
