{% extends "layout.twig" %}
{% block content %}

{# Header #}
<h-row {% if not post.thumbnail %} class="post-row" {% endif %}><h-column>

  <header class="post-header">
    {% if post.thumbnail %}
      <div class="post-featured-image" style="background-image: url('{{ post.thumbnail.src('large') }}');"></div>
    {% endif %}

    <div class="post-title">
      <h1>{{ post.title }}</h1>
      {% include "partials/_post-meta.twig" %}

      {% if post.post_excerpt %}
        <p class="post-excerpt">{{ post.post_excerpt }}</p>
      {% endif %}
    </div>
  </header>

</h-column></h-row>


{# Content #}
<h-row class="post-row"><h-column>

  <article class="post-content">
    <section class="post-body">
      {{ post.content }}
    </section>

    <footer class="post-author">
      {% include "partials/_author-info.twig" with { author: post.author } %}
    </footer>
  </article>

</h-column></h-row>

{# Comments #}
<section class="post-footer">
  <h-row class="post-row"><h-column>

    {% include "partials/_related-posts.twig" %}
    {% include "partials/_comments.twig" %}

  </h-column></h-row>
</section>


{% endblock %}
