{% extends "layout.twig" %}
{% block content %}

{# Banner #}
{% if post.thumbnail %}
  <section class="post-banner {{ post.thumbnail.width < 1280 ? 'post-banner-mini' : '' }}"
    style="background-image: url('{{ post.thumbnail.src('large') }}');">
  </section>
{% endif %}

{# Content #}
<h-row class="post-row"><h-column class="post-col">

<article class="post-content">
  <header class="post-header">
    <h1>{{ post.title }}</h1>
    {% include "partials/_post-meta.twig" %}
  </header>

  <section class="post-body">
    {{ post.content }}
  </section>

  <footer class="post-author">
    {% include "partials/_author-info.twig" with { author: post.author } %}
  </footer>
</article>

</h-column></h-row>


<section class="post-footer">
  <h-row class="post-row"><h-column class="post-col">
    {% include "partials/_related-posts.twig" %}
    {% include "partials/_comments.twig" %}
  </h-column></h-row>
</section>


{% endblock %}
