// 

.hSlider{
  position:relative;
  width:100%
}
.hSlider__arrow,.hSlider__dot{
  cursor:pointer
}
.hSlider__container{
  position:relative;
  width:100%;
  height:100%;
  overflow:hidden
}
.hSlider__slides{
  position:relative;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  height:100%;
  -webkit-transition:-webkit-transform .4s cubic-bezier(.51,.92,.24,1);
  transition:transform .4s cubic-bezier(.51,.92,.24,1);
  transition:transform .4s cubic-bezier(.51,.92,.24,1),-webkit-transform .4s cubic-bezier(.51,.92,.24,1);
  will-change:transform
}
.hSlider__slide{
  -webkit-box-flex:0;
  -ms-flex:0 1 auto;
  flex:0 1 auto;
  width:100%;
  height:100%
}
@charset "UTF-8";
.basicSlider{
  margin:0 0 3rem
}
.hSlider__arrow{
  position:absolute;
  top:calc(50% - 11px);
  padding:0;
  width:22px;
  height:22px;
  background:#333;
  color:#fff;
  text-align:center;
  border:0;
  border-radius:100%;
  opacity:.4;
  -webkit-transition:opacity .4s cubic-bezier(.51,.92,.24,1);
  transition:opacity .4s cubic-bezier(.51,.92,.24,1)
}
.hSlider__arrow::before{
  font-size:14px;
  line-height:22px
}
.hSlider__arrow:hover,.hSlider__dot.active,.hSlider__dot:hover{
  opacity:1
}
.hSlider__arrow--left{
  left:6px
}
.hSlider__arrow--left::before{
  content:'←'
}
.hSlider__arrow--right{
  right:6px
}
.hSlider__arrow--right::before{
  content:'→'
}
.hSlider__dots{
  position:absolute;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  top:100%;
  width:100%;
  height:2rem
}
.hSlider__dot{
  -webkit-box-flex:0;
  -ms-flex:0 0 auto;
  flex:0 0 auto;
  padding:6px;
  background:0 0;
  border:0;
  opacity:.4;
  -webkit-transition:opacity .4s cubic-bezier(.51,.92,.24,1);
  transition:opacity .4s cubic-bezier(.51,.92,.24,1)
}
.hSlider__dot::before{
  content:'';
  display:block;
  width:8px;
  height:8px;
  background:#333;
  border:0;
  border-radius:100%
}



/////

.hSlider__slide {
  > * {
    width: 100%;
  }
}