$blog-width: 650px;
$blog-font-size: 18px;
$blog-font-passive: #b5c0c5; // #bbc7cc;
$blog-border: #c8d7e1;

$table-border: 1px solid #efefef;
$share-bg: #444;

$related-bp: 870px;

$output-gallery : true;
$output-blog    : true;
$output-related : true;
$output-comment : true;
$output-password-form   : false;
$output-infinite-scroll : false;


///// ARTICLE

article {
  letter-spacing: 0.01 * $font-size;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem;
    margin-bottom: 1.25rem;
  }

  a {
    text-decoration: underline;
  }

  p,
  ul,
  ol,
  blockquote,
  pre,
  table,
  figure {
    margin-bottom: 1.5em;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $color-passive;
    margin: 2.5em auto;
    padding: 0;
  }

  ul, ol {
    padding-left: 1.5em;
  }

  ul ul,
  ol ol {
    margin-bottom: 0;
  }

  img {
    border-radius: $g-radius;
  }
}

///// BLOCKQUOTE

blockquote {
  padding: 1em 1em 1em 2em;
  background-color: $color-passive-light;
  border-left: 4px solid $color-passive;

  p {
    margin-bottom: 0;
  }

  cite {
    display: block;
    margin-top: 1em;
    font-size: $font-size-small;
  }

  &.alignleft,
  &.align-right {
    margin-left: 0;
  }
}

.wp-block-pullquote {
  padding: 1em 0;
  border-top: 2px solid $color-passive;
  border-bottom: 2px solid $color-passive;
  background-color: $color-passive-light;

  @include font-sizes( $h4-sizes );
  text-align: center;

  cite {
    text-align: center;
  }
}

///// TABLE

article table {
  width: 100%;

  tr {
    background-color: $body-background;
  }

  tr:nth-child(odd) {
    background-color: #f6f6f6;
  }

  th, td {
    padding: em(6px 8px);
    border: $table-border;
    text-align: left;
  }

  p {
    margin-bottom: 0;
  }
}

///// PREFORMATTED & CODE

pre,
code {
  background-color: $color-passive-light;
  border: 1px solid $color-passive;
  border-radius: $g-radius;
  font-size: 0.875rem;
}

pre code {
  padding: 0;
  border: none;
  background-color: transparent;
}

pre {
  padding: 1em;
}

code {
  padding: 0 0.5em;
}



///// EDITOR STYLE

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

.alignleft {
  float: left;
  margin-right: 1em;
}

.alignright {
  float: right;
  margin-left: 1em;
}

.alignleft,
.alignright {
  max-width: 50%;
  margin-bottom: 1em;

  @include below(small) {
    float: none;
    max-width: none;
  }
}

.aligncenter {
  display: block;
  margin: 0 auto;
  clear: both;
}

// gutenberg media
.alignfull,
.alignwide {
  width: auto;

  @include above( small ) {
    margin-right: -5em;
    margin-left: -5em;
  }
}

///// CAPTION

.wp-caption,
.wp-block-image,
.wp-block-embed {
  position: relative;
  margin-bottom: 1.5em;
  width: auto !important;
  text-align: center;
}

.wp-caption-text {
  display: inline-block;
  margin: 0.5em auto 0;
  padding: 0 2em 0.5em;
  border-bottom: 1px solid $color-passive;
  font-size: em( $font-size-small );
}




///// MEDIA & GALLERY /////

@if $output-gallery {

.gallery,
.tiled-gallery {
  margin-bottom: 1.5em;

  a {
    display: block;

    img {
      cursor: pointer;
      transition: $g-transition;
    }

    &:hover img { opacity: .7; }
  }
}

.gallery[class*="gallery-columns-"] {
  @include display-flex;
  flex-wrap: wrap;
}

.gallery-item {
  padding: 0 1px;
  margin-top: 0 !important;
  margin-bottom: 2px;

  img {
    border: none !important;
    border-radius: $g-radius;
  }

  .gallery-columns-2 & { width: percentage(1/2); }
  .gallery-columns-3 & { width: percentage(1/3); }
  .gallery-columns-4 & { width: percentage(1/4); }
  .gallery-columns-5 & { width: percentage(1/5); }
  .gallery-columns-6 & { width: percentage(1/6); }
  .gallery-columns-7 & { width: percentage(1/7); }
  .gallery-columns-8 & { width: percentage(1/8); }
  .gallery-columns-9 & { width: percentage(1/9); }
}

ul.wp-block-gallery {
  padding-left: 0;
}

} // @if $output-gallery

///// BLOG

@if $output-blog {

// Generic

.post-grid {
  @include grid( 4, $width: $blog-width );
}

.post-content {
  font-size: em($blog-font-size);
}

.post-featured-image {
  margin-bottom: 2em;
  text-align: center;

  img {
    border-radius: $g-radius;
  }
}

.post-header {
  margin: 2em 0;
}

///// POST META
// Appear in Tease, Tease banner, and Single header

.post-meta {
  .meta-author {
    padding-right: 0.5em;

    @include below(small) { padding-right: 0.5em; }
  }

  .meta-category {
    text-transform: uppercase;
  }

  time,
  .meta-comments {
    display: inline-block;
    padding: 0 0.5em;
    border-left: 1px solid $color-passive;

    @include below(small) { padding: 0 0.5em; }
  }

  a { color: inherit; text-decoration: none;
    &:hover { text-decoration: underline; }
  }

  .dashicons-before::before {
    width: 1em;
    height: 1em;
    font-size: em($font-size, $font-size-small);
    vertical-align: middle;
  }


  // adapt to placement
  .post-banner & {
    margin-bottom: 1em;
    color: white;
  }

  .post-tease & {
    color: $blog-font-passive;
  }

  .post-header & {
    border-top: 1px solid $color-passive;
    border-bottom: 2px solid $font-color;
    margin-top: 0.5em;
    padding: 0.5em 0;
  }
}

///// POST TEASE /////

.post-tease {
  @include display-flex;
  flex-direction: row-reverse;

  position: relative;
  padding-bottom: 2em;
  margin: 2em 0;
  border-bottom: 1px solid $color-passive;

  a {
    text-decoration: none;
    color: inherit;
  }

  figure {
    margin-bottom: 0;
    margin-left: 10px;
  }

  @include below(small) {
    display: block;

    figure { float: right; }
    img { width: 150px; }
  }

  @include below(mini) {
    img { width: 100px; }
  }
}

.tease-body {
  flex: 1;

  > a:hover h3 {
    text-decoration: underline;
  }

  h3 { margin: 0 0 0.5rem; }
  p { margin-bottom: 1em; }

  @include below(small) {
    h3 { clear: none; }
  }
}


///// POST BANNER /////

.post-banner {
  @include display-flex;
  align-items: flex-end;

  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  margin: 0 -50px 2em;
  padding: 1.5em 50px;
  height: 350px;

  border-radius: $g-radius;

  @include below(medium) {
    margin-right: -$grid-rim;
    margin-left: -$grid-rim;
  }

  @include below(small) {
    height: 300px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, .4);
  }
}

.post-banner-overlay {
  position: relative;
  z-index: 10;

  * {
    margin-top: 0;
    color: white;
  }

  a {
    text-decoration: none;

    &:hover h2 { text-decoration: underline; }
  }
}


///// BLOG NAV /////

.blog-nav {
  @include display-flex;
  flex-wrap: wrap;

  margin: 2em 0 2em;
  padding: 0.5em 0;
  border-bottom: 2px solid $font-color;
  border-top: 1px solid $color-passive;

  a {
    display: inline-block;
    padding: 5px 7px;

    color: $font-color;
    text-transform: uppercase;
    font-size: em($font-size-small);
    letter-spacing: 0.5px;

    border-radius: $g-radius;
    transition: $g-transition;

    &:hover {
      color: $color-main;
    }

    &.active {
      background-color: $color-main;
      color: white;
    }
  }
}

///// AUTHOR /////

.post-author {
  @include display-flex;
  padding: 2em 0;
  margin-top: 1em;
  border-top: 1px solid $color-passive;

  h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  @include below(mini) {
    flex-direction: column;
    text-align: center;
  }
}

.banner-author {
  padding: 2em 0;
  text-align: center;
}

// Author image

.author-image {
  img {
    border: 1px solid $color-passive;
    padding: 0.25em;
    height: 4em;
    width: 4em;
    border-radius: 50%;
  }

  .banner-author & {
    margin-bottom: 1em;
  }

  @include below(mini) {
    margin-bottom: 1em;
  }
}

// Author text

.author-text {
  .post-author & {
    flex: 1;
    padding: 0 10px;

    p {
      margin-bottom: 0;
      font-size: em( $font-size-small );
    }
  }

  .banner-author & {
    margin-bottom: 1.5em;
  }

  * + p { margin-top: 0.5em; }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }

  b {
    text-transform: uppercase;
    font-weight: $font-weight;
    font-size: em($font-size-small);
    letter-spacing: 0.5px;

    .post-author & { display: none; }
  }

  .author-url {
    color: $blog-font-passive;

    .banner-author & { color: $color-main; }
  }

  @include below(mini) {
    margin-bottom: 1em;
  }
}

} // @if $output-blog


///// FOOTER /////

@if $output-related {

.post-footer {
  padding-top: 1em;
  background-color: rgba(black, 0.03);
}

.post-footer-grid {
  @include grid( 4, $width: $blog-width * 0.9 );
}

// heading
div#jp-relatedposts h3.jp-relatedposts-headline,
.post-comments h4 {
  display: block;
  float: none;

  margin: 2rem 0;
  font-size: em($h5);
  font-weight: $font-weight;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  @include below(small) {
    font-size: em(18px);
  }
}

///// RELATED POSTS (Jetpack)

div#jp-relatedposts {
  display: block; // unhide
  padding-top: 0;
  margin: 0 0 3em;

  // list
  div.jp-relatedposts-items {
    display: -webkit-flex;
    display: flex;
    margin: 0 -125px;
    @include clearfix;

    @include below($related-bp) { margin: 0 -5px; }
    @include below(small) { flex-direction: column; margin: 0; }
  }

  // main title
  h3.jp-relatedposts-headline {
    em {
      font-style: normal; font-weight: $font-weight;
      &::before { display: none; }
    }
  }

  // single item
  div.jp-relatedposts-items .jp-relatedposts-post {
    overflow: hidden;
    padding: 1em;
    margin: 0 10px;
    width: 33%;

    opacity: 1;
    background-color: white;

    box-shadow: $shadow-z0;
    border-radius: $g-radius;

    // hide underline when hovering the whole box
    &:hover .jp-relatedposts-post-title .jp-relatedposts-post-a { text-decoration: none; }

    @include below($related-bp) {
      margin: 0 5px;
    }

    @include below(small) {
      width: 100%;
      margin: 0;
      margin-bottom: 1em;
    }
  }

  // single image
  .jp-relatedposts-post > .jp-relatedposts-post-a {
    overflow: hidden;
    display: block;
    max-height: 160px;
    margin: -1em;
    margin-bottom: 1em;

    // underline title when hovering image
    &:hover + .jp-relatedposts-post-title {
      text-decoration: underline;
    }
  }

  // single title
  div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title {
    clear: none;
    font-size: em(20px);
    letter-spacing: normal;
    line-height: $header-line;

    &:hover { text-decoration: underline; }

    a {
      display: block;
      font-weight: $header-weight;
      color: inherit;
    }

    @include below(mini) {
      font-size: em(16px);
    }
  }

  // meta
  div.jp-relatedposts-items .jp-relatedposts-post {
    p, span {
      overflow: initial;
      max-width: 100%;
      font-size: em($font-size-small);
    }

    .jp-relatedposts-post-excerpt,
    .jp-relatedposts-post-context { display: none; }

    .jp-relatedposts-post-date {
      display: inline-block;
      opacity: 0.6;

      @include below(mini) {
        font-size: em(12px);
      }
    }
  }

  /////

  // visual layout
  div.jp-relatedposts-items div.jp-relatedposts-post-thumbs {
    @include below($related-bp) {
      font-size: em($font-size-small);
    }

    @include below(small) {
      padding-bottom: 0;

      > .jp-relatedposts-post-a {
        float: left;
        max-width: 150px;
        margin-right: 10px;
        margin-bottom: 0;
      }
    }
  }

  // next prev
  &.jp-next-prev {
    div.jp-relatedposts-items {
      flex-direction: row;
      margin: 0 -10px;
    }

    div.jp-relatedposts-items .jp-relatedposts-post {
      margin: 0 10px;
      width: 50%;

      @include below(small) { padding: 0.5em; }
    }

    @include below(small) {
      .jp-relatedposts-post > .jp-relatedposts-post-a {
        margin: -0.5em;
        margin-bottom: 0.5em;
      }
    }

    // next prev no thumbnail
    div.jp-relatedposts-items .jp-relatedposts-nothumb {
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      .jp-relatedposts-post-title {
        font-size: em(24px);

        @include below(small) {
          font-size: em(20px);
        }
      }

      .jp-relatedposts-nothumb-excerpt {
        margin-top: 1em;

        @include below(small) { display: none; }
      }

      .jp-relatedposts-nothumb-excerpt a {
        display: block;
      }
    }
  }

}

} // @if $output-related


///// COMMENTS /////

@if $output-comment {

.post-comments {
  ul {
    list-style-type: none;
  }
}

.comments-list {
  margin-top: 2em;

  > li {
    padding: 1.25em;
    margin-bottom: 1.5em;
    background-color: $body-background;
    border: 1px solid rgba(black , .1);

    border-radius: $g-radius;
  }
}

// Single Comment

.comment {
  position: relative;
  color: $font-color;

  &.bypostauthor {
    .comment-avatar {
      padding: 1px;
      box-shadow: 0 0 0 1px $font-color;
    }
  }

  .avatar {
    width: 2.5em;
    height: 2.5em;
    margin-right: 10px;
    border-radius: 50%;
    transition: $g-transition;
  }
}

.comment-header {
  margin-bottom: 1em;

  b, time {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
  }

  b {
    color: $font-color;
  }

  time {
    margin-left: 0.5em;
    font-size: em($font-size-small);
    color: $blog-font-passive;
  }
}

.comment-text {
  p {
    margin-bottom: 1em;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

// Child comments

.replies-list {
  margin-top: 1.5em;
  padding-left: 1.25em;
  border-left: 2px solid rgba($font-color, .1);

  .comment {
    font-size: em($font-size-small);
  }

  .comment-avatar { display: none; }

  > li + li { margin-top: 1.5em; }
  header { margin-bottom: 0.5em; }
  p { margin-bottom: 0.5em; }
}

// Reply link

a.comment-reply-link {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 5px;
  right: 0;

  font-size: 0.75rem;
  font-weight: $header-weight;
  color: rgba($font-color-passive , .7);
  text-decoration: none;
  text-transform: uppercase;
  transition: $g-transition;

  .comment:hover & {
    visibility: visible;
    opacity: 1;
  }

  &:hover { color: $color-link; }
}

///// COMMENT FORM /////

.comment-respond {
  margin-bottom: 2em;

  .comments-list & {
    width: 110%;
    margin: 0 -5%;
  }
}

.comment-reply-title {
  display: none;
}

.comment-form {
  padding: 1em;
  background-color: $body-background;
  box-shadow: $shadow-z0;
  border-radius: $g-radius;

  .comments-list & {
    margin-top: 1.25em;
    box-shadow: $shadow-z1;
  }

  label {
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: em($font-size-small);
    letter-spacing: 1px;
  }

  p {
    margin-bottom: 1em;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  .comment-notes,
  .logged-in-as {
    display: block;

    margin-bottom: 1em;
    color: $blog-font-passive;
    font-size: em($font-size-small);

    a { color: inherit; }
  }

  /////

  &:not(.active) {
    p {
      margin-bottom: 0;
    }

    .comment-notes,
    .logged-in-as {
      display: none;
    }
  }
}

// Field and Submit

.comment-form-comment {
  label { display: none; }

  textarea {
    height: 9em;

    .comment-form:not(.active) & {
      height: 2.6em;
      min-height: auto;
      padding: 0.5em 0;
      border: none;
      box-shadow: none;
    }

    .comment-form:not(.active):hover & {
      @include placeholder {
        color: $color-main;
      }
    }
  }
}

.comment-form-author {
  padding-right: 0.5em;
}

.comment-form-email {
  padding-left: 0.5em;
}

.comment-form-author,
.comment-form-email {
  display: none;
  float: left;
  width: 50%;

  .active & {
    display: block;
  }

  @include below(small) {
    display: block;
    width: 100%;
    padding: 0;
  }
}

.comment-form-url {
  display: none;
}

.form-submit {
  display: none;
  clear: both;

  .active & {
    display: block;
  }
}

} // @if $output-comment

///// PAGINATION /////

.pagination {
  @include display-flex;
  margin: 2em 0;

  font-size: em($font-size-small);
  color: $font-color-passive;
  text-align: center;

  a,
  select {
    cursor: pointer;
    width: auto;

    -webkit-appearance: none;
    appearance: none;
  }

  select:not(:hover) {
    border-color: transparent;
  }

  a {
    align-self: center;

    &:first-child { margin-right: auto; }
    &:last-child { margin-left: auto; }

    // no href
    &:not([href]) {
      visibility: hidden;
      opacity: 0;
    }
  }
}

///// POST PASSWORD FORM /////

@if $output-password-form {

.post-password-form {
  padding: 2em 4em;
  background-color: rgba(black, 0.03);
  border-radius: $g-radius;

  p:last-child {
    display: -webkit-flex;
    display: flex;
    border-bottom: 1px solid $color-passive;
    padding-bottom: 0.5em;
  }

  label {
    flex: 1;
    color: $font-color-passive;
  }

  input[type="password"] {
    background-color: transparent;
    border: none;
    margin-top: 1rem;
    padding: 0;
    font-size: em(28px);
    color: $font-color;
    letter-spacing: 2px;

    &:hover,
    &:focus { border: none; box-shadow: none; }
  }

  input[type="submit"] {
    align-self: flex-end;
    background-color: white;
    padding-right: 2em;
    padding-left: 2em;
  }
}

} // @if $output-password-form


///// INFINITE SCROLL (Jetpack)


@if $output-infinite-scroll {

// if infinite-footer is turned on (in theme_support), hide it in paged list.
body[class^="paged-"] #infinite-footer {
  display: none;
}

.infinite-loader {
  margin: 2em 0;

  .spinner {
    left: 50% !important;
    @include transform(translateX(-50%) );
  }
}

} // @if $output-infinite-scroll