// Put styles that you might REUSE in other projects here
@import "setting";
@import "edje-framework";

@import "fw-blog";
@import "fw-magnific";
@import "fw-slick";

@import "fw-nav";

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

///// FONT /////

/*
@include font-faces("Font Name", (
  ("font.woff", 400),
  ("font-italic.woff", 400, italic),
  ("font-bold.woff", 700),
));
*/

///// BUTTON /////

.button,
a.button,
[type="submit"],
[type="button"],
[type="reset"] {
  display: inline-block;
  outline: none;
  overflow: hidden;

  padding: 0.5em 0.75em;
  border: solid $color-main-dark;
  border-width: 1px 1px 2px;
  background-color: $color-main;

  font-weight: 600;
  color: white;
  text-decoration: none;
  line-height: normal;

  border-radius: $g-radius;
  transition: none;

  &:hover {
    border-color: darken( $color-main-dark, 10% );
    color: white;
  }

  &:active {
    border-width: 2px 1px 1px;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: .3;
  }
}


///// INPUT /////

[type="text"],
[type="number"],
[type="tel"],
[type="password"],
[type="email"],
[type="search"],
[type="url"],
[type="date"],
[type="time"],
textarea,
select {
  display: block;
  width: 100%;
  padding: 0.5em 0.75em;
  border: 2px solid $color-passive;
  border-radius: $g-radius;

  line-height: normal;
  transition: $g-transition;

  &:focus {
    border-color: $color-main;
    box-shadow: 0 0 0 2px #78dcfa;
  }
}

select {
  border-width: 1px 1px 2px;
}

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
  border: 1px solid rgba(black, .2);
  width: 1rem;
  height: 1rem;
  vertical-align: middle;

  transition: $g-transition;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;


  &:hover {
    border-color: $color-main;
  }

  &:checked {
    border-color: $color-main;
    box-shadow: inset 0 0 0 4.5px $color-main;
  }

  + label,
  + span {
    margin-left: 0.5rem;
  }
}

input[type="checkbox"] {
  border-radius: $g-radius;
}

input[type="radio"] {
  border-radius: 50%;
}

/* --------------------
  WORDPRESS General
-------------------- */

// Fix adminbar getting pushed down
#wpadminbar {
  @include below( 600px ) {
    position: absolute;
    @include transform(translateY(-100%) );
  }
}

///// ERROR PAGE /////

.content-error {
  padding: 100px 0;
  text-align: center;

  @include below(small) { padding: 30px 0; }

  h1 {
    margin-bottom: 1rem;
    text-transform: uppercase;
    line-height: 1;
    color: $color-main;
  }

  span {
    display: block;
    color: $font-color;
    font-size: em($h2, $h1);
  }
}


///// MAIN FOOTER /////

.main-footer {
  position: relative;
  padding: 1.5em 0 3em;
  background-color: $color-passive-light;
  border-top: 1px solid $color-passive;
  border-bottom: 1px solid $color-passive;
}

.footer-nav {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px dashed $color-passive;
  text-align: center;

  a {
    display: inline-block;
    padding: 0 1em;
    color: $font-color;
  }

  a:hover { color: $color-main; }

  @include above(mini) {
    a:first-child { padding-left: 0; }
    a:last-child { padding-right: 0; }
  }

  @include below(mini) {
    @include flex;
    flex-wrap: wrap;

    a {
      width: 50%;
    }
  }
}

.footer-legal {
  font-size: em($font-size-small);

  a { margin-left: 1em; }
}

//// FOOTER SOCIAL LOGOS

.footer-social {
  text-align: right;

  a + a { margin-left: 0.25em; }
}

.social-logo {
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1;
  vertical-align: top;
  color: rgba($font-color, .4);
}

///// SHARE COLORS

@each $name, $color in $social-colors {
  .social-logo__#{ $name }:hover {
    color: $color;
  }

  // Sharedaddy color
  div.sharedaddy .sd-block .sd-content ul li a.sd-button.share-#{ $name } {
    color: $color !important;
    border-color: $color;

    &:hover { border-color: darken( $color, 15% ); }
  }
}


///// CONTACT FORM 7

div.wpcf7 {
  span.wpcf7-not-valid-tip {
    color: $color-red;
    font-size: em(14px);
  }

  div.wpcf7-response-output {
    margin: 1em 0 0;
    border-width: 1px;
    border-radius: $g-radius;
    text-align: center;
  }

  .wpcf7-validation-errors {
    border-color: $color-red;
    color: $color-red;
    background-color: rgba($color-red, .2);
  }

  .wpcf7-mail-sent-ok,
  .wpcf7-mail-sent-ng {
    border-color: $color-green;
    color: $color-green;
    background-color: rgba($color-green, .5);
  }
}

form.wpcf7-form {
  max-width: 570px;
  padding: 10px;
  margin: 0 auto;
  background-color: white;
  box-shadow: $shadow-z1;

  br { display: none; }

  label {
    display: block;
    font-size: em($font-size-small);
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    vertical-align: top;
  }
}

.wpcf7-form-control-wrap {

}
