  // Put styles that you might reuse in other projects here
  @import "setting";
  $output-framework: true;
  @import "edje-v20";

  @import "fw-blog";
  @import "fw-photoswipe";
  @import "fw-slick";
  @import "fw-nav";

  .text-left { text-align: left; }
  .text-center { text-align: center; }
  .text-right { text-align: right; }

  #main-wrapper {
    overflow-x: hidden;
  }

  ///// FONT /////

  /*
  @include font-faces("Font Name", (
    ("font.woff", 400),
    ("font-italic.woff", 400, italic),
    ("font-bold.woff", 700), // always append comma
  ));
  */

  ///// BUTTON /////

  %button {
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-style: solid;
    border-width: 1px 1px 2px;
    padding: 0.375em 0.75em;

    font-weight: 600;
    text-decoration: none;
    line-height: normal;
    vertical-align: top;

    border-radius: $g-radius;
    transition: none;

    &:active {
      border-width: 2px 1px 1px;
    }
  }


  .button,
  [type="button"],
  [type="submit"],
  [type="reset"] {
    @extend %button;
    border-color: $color-main-dark;
    background-color: $color-main;
    color: white;

    &:hover {
      border-color: darken( $color-main-dark, 10% );
      color: white;
    }

    &[disabled],
    &.disabled {
      cursor: not-allowed;
      opacity: .3;
    }
  }

  // passive button

  .button-passive,
  a.button-passive {
    @extend %button;
  }

  .button-passive,
  a.button-passive,
  .button.loading {
    border-color: $color-passive;
    background-color: $color-passive-light;
    color: $font-color;

    &:hover {
      border-color: darken( $color-passive, 10% );
      color: $font-color;
    }
  }

  .button.loading {
    cursor: not-allowed;
    background-image: url( $spinner_path );
    background-position: center center;
    background-repeat: no-repeat;
    color: transparent !important;
  }

  // line button

  .button-line {
    @extend %button;

    border-color: $color-main;
    color: $color-main;
    background-color: transparent;
  }

  ///// INPUT /////

  [type="text"],
  [type="number"],
  [type="tel"],
  [type="password"],
  [type="email"],
  [type="search"],
  [type="url"],
  [type="date"],
  [type="time"],
  textarea,
  select {
    display: block;
    width: 100%;
    padding: 0.375em 0.75em;
    border: 2px solid $color-passive;
    border-radius: $g-radius;

    line-height: normal;
    transition: $g-transition;

    &:focus {
      border-color: $color-main;
      box-shadow: 0 0 0 2px #78dcfa;
    }
  }

  select {
    border-width: 1px 1px 2px;
  }

  [type="radio"],
  [type="checkbox"] {
    cursor: pointer;
    border: 1px solid rgba(black, .2);
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;

    transition: $g-transition;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;


    &:hover {
      border-color: $color-main;
    }

    &:checked {
      border-color: $color-main;
      box-shadow: inset 0 0 0 4.5px $color-main;
    }
  }

  [type="checkbox"] {
    border-radius: $g-radius;
  }

  [type="radio"] {
    border-radius: 50%;
  }

  /* --------------------
    WORDPRESS General
  -------------------- */

  // Fix adminbar getting pushed down
  #wpadminbar {
    @include below( 600px ) {
      position: absolute;
      @include transform(translateY(-100%) );
    }
  }

  ///// ERROR PAGE /////

  .content-error {
    padding: 100px 0;
    text-align: center;

    @include below(small) { padding: 30px 0; }

    h1 {
      margin-bottom: 1rem;
      text-transform: uppercase;
      line-height: 1;
      color: $color-main;
    }

    span {
      display: block;
      color: $font-color;
      font-size: em($h2, $h1);
    }
  }


  ///// CONTACT FORM 7

  div.wpcf7 {
    span.wpcf7-not-valid-tip {
      color: $color-red;
      font-size: em(14px);
    }

    div.wpcf7-response-output {
      margin: 1em 0 0;
      border-width: 1px;
      border-radius: $g-radius;
      text-align: center;
    }

    .wpcf7-validation-errors {
      border-color: $color-red;
      color: $color-red;
      background-color: rgba($color-red, .2);
    }

    .wpcf7-mail-sent-ok,
    .wpcf7-mail-sent-ng {
      border-color: $color-green;
      color: $color-green;
      background-color: rgba($color-green, .5);
    }
  }

  form.wpcf7-form {
    max-width: 570px;
    padding: 10px;
    margin: 0 auto;
    background-color: white;
    box-shadow: $shadow-z1;

    br { display: none; }

    label {
      display: block;
      font-size: em($font-size-small);
      font-weight: 700;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      vertical-align: top;
    }
  }

  .wpcf7-form-control-wrap {

  }
