
.main-nav {
  position: relative;
  z-index: 100;
  padding: 0.75em 0;
}

.nav-col {
  @include column(12);
  @include display-flex;
  align-items: center;
}

// MAIN LOGO

.nav-logo {
  @include below( $nav-bp ) {
    order: 1;
    margin: 0 auto;
  }
}

.custom-logo-link {
  img {
    width: auto;
    height: 2.5em;
  }
}

// NAV ITEM

.nav-item {
  position: relative;

  > a {
    display: block;
    padding: 0.75em 1em;
    color: $font-color;
    transition: none;

    &:hover { opacity: .7; }
  }

  // current page
  &.current-menu-item,
  &.current-page-ancestor,
  &.current-menu-ancestor,
  &.current-menu-parent {
    > a { color: $color-main; }
  }
}


// NAV WRAPPER

.nav-wrapper {
  @include display-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1;

  @include below( $nav-bp ) {
    flex-direction: column;
    visibility: hidden;
    opacity: 0;

    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 3.5em 0 2em;
    width: 180px;
    background-color: white;

    transition: $g-transition;
    box-shadow: $shadow-z2;
    @include transform(translateX(-100%) );
  }

  .nav-is-active & {
    visibility: visible;
    opacity: 1;
    @include transform(none);
  }
}

// NAV MOBILE

body.nav-is-active,
body.nav-dialog-is-active {
  cursor: pointer; // fix iOS untap-able bug
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.nav-toggle {
  i {
    line-height: 1;
  }

  i, b {
    display: inline-block;
    vertical-align: middle;
  }

  .dashicons-before::before {
    width: 18px;
    height: 18px;
    font-size: 18px;
  }

  @include above( $nav-bp ) {
    display: none;
  }
}

// NAV EXTRA

.nav-extra {
  @include display-flex;
  order: 2;
  align-items: center;
  position: relative;

  .button {
    line-height: 1;
    margin-left: 5px;
  }

  span {
    line-height: 20px;
  }
}

///// SEARCH FORM

.nav-search {
  @include display-flex;
  position: relative;
}

.nav-search [type="search"] {
  position: absolute;
  top: 50%;
  left: 100%;
  padding: 0.625em 0;
  width: 0;
  opacity: 0;

  @include transform(translateX(-100%) translateY(-50%) );

  &:focus {
    opacity: 1;
    padding-right: 2.5em;
    padding-left: 0.5em;
    width: 250px;
  }

  &:focus ~ label {
    display: none;
  }
}



///// NAV DIALOG

.nav-dialog {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: 100%;
  right: 0;
  width: 300px;
  background-color: $body-background;
  padding: 0.25em;

  border-radius: $g-radius;
  box-shadow: $shadow-z1;
  transition: $g-transition;
  @include transform(translateY(-1.5em) );

  @include below( $nav-bp ) {
    top: calc(100% + 10px);
  }

  &.nav-dialog--active,
  .nav-item:hover & {
    visibility: visible;
    opacity: 1;
    @include transform(none);
  }
}


// Nav Dialog Children

.nav-dialog--children {
  left: 0;
  right: auto;
  width: 200px;
  background-color: $color-passive-light;
  white-space: nowrap;

  a {
    display: block;
    padding: 0.25em 0.5em;
    color: inherit;

    border-radius: $g-radius;
  }

  a:hover {
    background-color: $color-passive;
  }

  /////

  @include below( $nav-bp ) {
    top: 0;
    left: 100%;
    @include transform(translateX(-10px) );

    a {
      padding: 0.5em 0.75em;
    }
  }
}

///// MAIN FOOTER /////

.main-footer {
  margin-top: auto;
  background-color: rgba( black, .88 );
  color: white;
}

// widgets

.footer-widgets {
  padding-top: 2.5em;
  padding-bottom: 2.5em;

  color: rgba(white, .5);
  font-size: em($font-size-s);

  h-grid {
    grid-row-gap: $grid-gap;
  }

  .widget {
    @include column(4);
    list-style-type: none;
  }

  .widgettitle {
    margin-bottom: 0.25rem;
    font-size: em(21px, $font-size-s);
    color: rgba(white, .85);
  }

  ul {
    padding-left: 1.25em;
  }
}

///// FOOTER BAR

.footer-bar {
  padding: 0.5em 0;
  background-color: rgba($color-main, .1);
  color: rgba(white, .5);
  font-size: em($font-size-s);
}

.copyright,
.partners {
  @include display-flex;
  flex-wrap: wrap;
  align-items: center;

  header {
    line-height: 1.4;
    font-weight: 700;
  }
}

.copyright {
  @include above( s ) {
    header {
      margin-right: 1.5em;
    }
  }

  a {
    margin-right: 0.5em;
  }
}

// partners
.partners {
  justify-content: flex-end;

  img {
    width: 32px;
    padding: 4px;
  }

  a {
    display: block;
    position: relative;
    margin: 0 4px;
    background-color: rgba($color-main, .2);
    border-radius: 50%;
    transition: $g-transition;
  }

  a:hover {
    background-color: rgba($color-main, .3);
    color: white;
  }
}

.partner-caption {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  right: 0;
  bottom: calc(100% + 8px);

  padding: 0.5em 1em;
  background-color: $color-main;
  color: white;
  text-align: center;

  border-radius: $g-radius;
  transition: $g-transition;
  @include transform( translateY(20px) );

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 10px;
    @include triangle( 12px, bottom, $color-main, 5px );
  }

  a:hover & {
    visibility: visible;
    opacity: 1;
    @include transform( none );
  }

  h5 {
    font-size: 14px;
    font-family: $font-family;
    color: white;
    white-space: nowrap;
  }

  p {
    white-space: nowrap;
    font-size: 12px;
  }
}
