// Put styles that you might reuse in other projects here
@import "setting";
@import "edje-framework";

// @import "fancybox";
// @import "slick";
// @import "wordpress";
// @import "woo";
// @improt "blog";

///// FONT /////

@font-face {
  src: font-url("material-icons.woff") format("woff");
  font-family: $font-family-icon;
}

// Usage: <i class="icon">icon_name</icon>
//   http://google.github.io/material-design-icons/
.icon {
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  font-weight: normal;
  font-style: normal;
  font-size: 1.25em;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  -moz-osx-font-smoothing: grayscale;
  @include icon;
}

///// BUTTON /////

button,
.button,
a.button,
[type="submit"],
.button-shortcode > a {
  display: inline-block;
  outline: none;
  padding: 8px 15px;
  border: none;
  background-color: $color-main;
  color: white;
  text-decoration: none;

  border-radius: $g-radius;
  transition: $g-transition;

  &:hover {
    background-color: darken($color-main, 10%);
  }
}

///// INPUT /////

[type="text"],
[type="number"],
[type="tel"],
[type="password"],
[type="email"],
[type="search"],
[type="url"],
textarea,
select {
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 1px solid $color-passive;
  border-top-color: darken($color-passive, 5%);

  &:hover {
    border-color: darken($color-passive, 10%);
    box-shadow: inset 0 0 3px $color-passive;
  }

  &:focus {
    border-color: $color-main;
    box-shadow: inset 0 1px 2px rgba(black, .2);
  }
}
