{% extends "layout.twig" %}
{% block content %}

<article>

  <header>
    <h1>{{ post.title }}</h1>

    {% if fn('function_exists', 'jetpack_breadcrumbs') %}
      {{ fn('jetpack_breadcrumbs') }}
    {% endif %}
  </header>

  <section>
    {{ post.content }}
  </section>

</article>

{% endblock %}
