$blog-width: 600px;
$blog-font-passive: #bbc7cc;
$blog-border: #c8d7e1;

$share-bg: #444;

/* ------
  BLOG
------ */

///// EDITOR STYLE

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

.alignleft {
  float: left;
  margin-right: 1em;
}

.alignright {
  float: right;
  margin-left: 1em;
}

.alignleft,
.alignright {
  max-width: 50%;
  margin-bottom: 1em;

  @include below(small) {
    float: none;
    max-width: none;
  }
}

.aligncenter {
  display: block;
  margin: 0 auto;
  clear: both;
}

.wp-caption {
  position: relative;
  margin-bottom: 1.5em;
  width: auto !important;
  text-align: center;

  .wp-caption-text {
    display: inline-block;
    margin: 0.5em 0 0;
    padding: 0 2em 0.5em;
    border-bottom: 1px solid $color-passive;
    font-size: em($font-size-small);
  }
}

// Reference only works above medium
@include above(medium) {
  .refleft .wp-caption-text {
    left: -20px;
    text-align: right;
    @include transform(translateX(-100%) );
  }

  .refright .wp-caption-text {
    right: -20px;
    text-align: left;
    @include transform(translateX(100%) );
  }

  .refleft .wp-caption-text,
  .refright .wp-caption-text {
    position: absolute;
    top: 0;
    border-top: 1px solid $color-passive;
    margin-top: 0;
    padding: 0.5em 0;
    width: 150px;
  }
}

///// GALLERY

.gallery,
.tiled-gallery {
  margin: 0 -1px 1.5em !important;

  &[data-carousel-extra] {
    img { cursor: pointer; transition: $g-transition; }
    img:hover { opacity: 0.7; }
  }
}

.gallery-item {
  padding: 0 1px;
  margin-top: 0 !important;
  margin-bottom: 2px;

  img {
    border: none !important;
    border-radius: $g-radius;
  }
}

///// GRID

.post-row { @include row($width: $blog-width); margin: 0 auto; }
.post-col { @include column(12); }


///// GENERIC ARTICLE

.post-content {
  letter-spacing: 0.01 * $font-size;

  h1 {
    font-weight: $font-weight;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem;
    margin-bottom: 1.25rem;
  }

  a {
    text-decoration: underline;
  }

  p,
  ul,
  ol,
  blockquote,
  pre,
  table,
  iframe, video, object, embed {
    margin-bottom: 1.5em;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: $color-passive 1px solid;
    margin: 2.5em 0;
    padding: 0;
  }

  ul, ol {
    padding-left: 1.5em;
  }

  ul ul,
  ol ol {
    margin-bottom: 0;
  }

  cite {
    display: block;
    text-align: right;
  }

  img {
    border-radius: 2px;
  }

  blockquote {
    padding: 0.25em 1em;
    margin-left: 1em;
    border-left: 3px solid $color-passive;
    font-style: italic;

    p { margin-bottom: 0; }
  }

  blockquote.alignleft,
  blockquote.alignright {
    margin-left: 0;
  }
}

.post-content table {
  width: 100%;

  tr:nth-child(odd) {
    background-color: #f6f6f6;
  }

  th, td {
    padding: 6px 8px;
    border-top: 1px solid #efefef;
    text-align: left;
  }
}

.dropcap-shortcode {
  // float: left;
  // margin-right: 10px;
  // font-weight: 700;
  // font-size: floor(($font-size * $font-line)) * 2 * 1.20;
  // line-height: floor(($font-size * $font-line)) * 2;
}

///// SINGLE HEADER

.post-header {
  margin: 2em 0;

  h1 { margin-bottom: 0; }
}

.post-meta {
  border-top: 1px solid $color-passive;
  border-bottom: 2px solid $font-color;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0.5rem 0;

  font-size: em($font-size-small);

  time {
    margin-right: 1em;
  }
}

.post-meta,
.tease-meta {
  font-size: em($font-size-small);

  a { color: inherit; text-decoration: none; }
  a:hover { text-decoration: underline; }

  time {
    display: inline-block;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid $color-passive;
  }
}

///// POST TEASE /////

.post-tease {
  display: -webkit-flex;
  display: flex;
  flex-direction: row-reverse;

  position: relative;
  padding-bottom: 2em;
  margin: 2em 0;
  border-bottom: 1px solid $color-passive;

  a {
    text-decoration: none;
    color: inherit;
  }

  @include below(mini) {
    display: block;
    padding-bottom: 1em;
    margin: 1em 0;
  }
}

.tease-body {
  flex: 1;

  > a:hover h2,
  > a:hover h3 {
    text-decoration: underline;
  }

  h2, h3 { margin: 0 0 0.5rem; }
  p { margin-bottom: 1em; }
  figure { margin-left: 10px; }

  @include below(mini) {
    h2, h3 { clear: none; }
    figure { float: right; }
    img { width: 100px; }
  }
}

.tease-meta {
  color: $blog-font-passive;
}

///// GENERAL

a.post-button {
  display: inline-block;
  border: 1px solid $color-main;
  border-radius: 20px;
  padding: 0 14px;

  text-decoration: none;
  font-size: $font-size-small;
  line-height: 30px;
  color: $color-main;

  transition: $g-transition;

  &:hover {
    background-color: $color-main;
    color: white;
  }
}


///// POST BANNER /////

.post-banner {
  position: relative;
  height: 400px;
  margin: 0 auto;

  background-size: cover;
  background-position: center center;

  @include below(small) {
    height: 300px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, .4);
  }

  // single page doesn't have the overlay
  .single & {
    &::before {
      display: none;
    }
  }

  .post-row {
    position: relative;
    z-index: 5;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    @include transform(translateY(-50%) );
  }
}

.post-banner {
  h1, h2 {
    font-size: em($h1);
    line-height: 1;

    @include below(small) {
      font-size: em(24px);
    }
  }

  time {
    display: block;
    margin-bottom: 1em;
  }

  p, time, a {
    font-size: em($font-size-small);
  }

  p {
    margin: 1rem 0;
    font-size: em($font-size-small);
  }
}

.post-banner.no-banner {
  &::before {
    display: none;
  }

  .post-tip span {
    border-color: $font-color;
    color: $font-color;
  }
}

// avoid double override
.post-banner:not(.no-banner) {
  h1, h2, p, time {
    color: white;
  }

  .post-button {
    border-color: white;
    color: white;

    &:hover { border-color: $color-main; }
  }
}

.post-banner-mini {
  width: $blog-width + 100px;

  @include below($blog-width + 120px) {
    width: 100%;
  }
}

///// CATEGORIES /////

.categories {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;

  margin: 2em 0 2em;
  padding: 0.5em 0;
  border-bottom: 2px solid $font-color;
  border-top: 1px solid $color-passive;

  a {
    display: inline-block;
    padding: 5px 7px;

    color: $font-color;
    text-transform: uppercase;
    font-size: em($font-size-small);
    letter-spacing: 0.5px;

    border-radius: $g-radius;
    transition: $g-transition;

    &:hover {
      color: $color-main;
    }

    &.active {
      background-color: $color-main;
      color: white;
    }
  }
}

.category-menu {
  position: relative;
  margin-left: auto;
  padding: 0 0.5em;

  > a {
    padding: 0;
    color: inherit;
  }

  i {
    font-size: 2em;
    transition: all .15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &:hover i {
    @include transform(rotate(90deg) );
  }
}

.menu-tip {
  display: none;

  position: absolute;
  z-index: z(menu);
  top: 32px;
  right: 0;

  border: 1px solid $blog-border;
  max-width: 260px;
  width: 220px;
  padding: 10px 0;
  background-color: $body-background;

  border-radius: $g-radius;
  // box-shadow: 0 2px 5px rgba(black, 0.1), 0 0 56px rgba(black, 0.075);
  box-shadow: $shadow-z0;

  .category-menu:hover & {
    display: block;
  }

  // arrow
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 10px;

    @include transform(translateY(-10px) );
  }

  &::before {
    top: -1px;
    @include triangle($direction: top, $color: #c8d7e1, $width: 20px, $height: 10px);
  }

  &::after {
    @include triangle($direction: top, $color: $body-background, $width: 20px, $height: 10px);
  }

  a {
    display: block;
    padding: 0.5em 1em;
    text-transform: initial;
    transition: none;

    &:hover {
      background-color: $color-main;
      color: white;
    }
  }
}

///// SHARE (Jetpack) /////

div.sharedaddy {
  margin: 2em 0;
  padding-top: 2em;
  border-top: 1px solid $color-passive;

  .sd-block {
    display: flex;
    flex-direction: column;
  }

  .sd-content ul {
    margin-bottom: 0 !important;
  }

  .sd-block h3.sd-title {
    margin: 0 0 1em 0;
    letter-spacing: 0.5px;
    font-size: em($font-size-small);
    text-transform: uppercase;
    white-space: nowrap;

    &::before { display: none; }
  }
}

// button general (needs to override)
div.sharedaddy .sd-block .sd-content ul li[class*="share"] a.sd-button {
  background-color: $share-bg;
  color: white !important;
  box-shadow: 0 1px 0 rgba(black, .08), inset 0 0 0 1px rgba(black, .2);

  &:hover {
    background-color: lighten($share-bg, 10%);
    opacity: 1;
  }

  $lists: (
    twitter: ("_twitter", #28a9e0),
    facebook: ("_facebook", #3b5998),
    google-plus-1: ("_google_plus", #dd4b39),
    pinterest: ("_pinterest", #bd081c),
    jetpack-whatsapp: ("_whatsapp", #25d366),
    skype: ("_skype", #0bbff2),
    pocket: ("_pocket", #ed4054),
    linkedin: ("_linkedin", #0077b5),
    reddit: ("_reddit", #f54b00),
    tumblr: ("_tumblr", #324f6d),
    telegram: ("_telegram", #34abe3),
    custom-line: ("_line", #03c302),
    custom-weibo: ("_weibo", #e6162d),
    custom-sina-weibo: ("_weibo", #e6162d),
    custom-renren: ("_renren", #005eac)
  );

  @each $class, $value in $lists {
    &.share-#{$class} {
      background-color: nth($value, 2);
      // &::before { content: nth($value, 1); }
      &:hover { background-color: darken(nth($value, 2), 10%); }
    }
  }
}

// icon only
div.sharedaddy .sd-social-icon {
  flex-direction: row;

  h3.sd-title {
    align-self: center;
    margin: 0 0.5em 0 0;
  }

  ul li {
    margin-bottom: 0;
  }
}

// icon-text and text only
div.sharedaddy .sd-social-icon-text,
div.sharedaddy .sd-social-text,
div.sharedaddy .sd-social-official {
  ul li a.sd-button {
    padding: 4px 12px 3px 9px;
    border: none;
    border-radius: $g-radius;
    font-size: em($font-size-small);

    &:hover { border: none; }
  }
}

// share email popup
div#sharing_email {
  border-radius: $g-radius;
  box-shadow: $shadow-z1, inset 0 3px $color-main;
  @include transform(translateY(-1em) );

  label {
    font-size: em($font-size-small);
    font-weight: $font-weight;
  }
}

///// AUTHOR /////

.post-author {
  display: -webkit-flex;
  display: flex;
  align-items: center;

  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  border-top: 1px solid $color-passive;

  @include below(small) {
    margin-bottom: 0;
  }

  @include below(mini) {
    flex-direction: column;
    text-align: center;
  }
}


.author-image {
  margin-right: 10px;

  img {
    border: 1px solid $color-passive;
    padding: 0.25em;
    height: 4em;
    width: 4em;
    border-radius: 50%;
  }

  @include below(mini) {
    margin-right: 0;
    margin-bottom: 1em;
  }

  .post-banner & {
    margin-bottom: 1em;
  }
}

.author-bio {
  flex: 1;

  h6 {
    margin: 0 0 0.5em;
    letter-spacing: 0.5px;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }

  p {
    margin-bottom: 0;
    font-size: em($font-size-small);
  }

  @include below(mini) {
    margin-bottom: 1em;
  }
}

///// FOOTER /////

.post-footer {
  padding-top: 2em;
  position: relative;
  background-color: rgba(black, 0.03);
}


///// PREV NEXT POST

.post-tip {
  margin-bottom: 1rem;
  font-size: em(12px);
  text-align: center;

  span {
    display: inline-block;
    border: 1px solid white;
    color: white;
    padding: 4px 8px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 400;

    border-radius: $g-radius;
    transition: $g-transition;
  }

  .suggest-item & {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin-bottom: 0;

    @include below(small) {
      top: 10px;
    }
  }

  .suggest-item:hover & {
    span {
      background-color: white;
      color: $font-color;
    }
  }
}

.post-suggest {
  margin-bottom: 2em;

  .suggest-col {
    @include column(6);

    &:only-child {
      @include column(12);
    }
  }

  h5 {
    text-transform: initial;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
  }

  h5, p {
    color: white;
  }
}

.suggest-item {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  min-height: 145px;

  border-radius: $g-radius;

  @include below(small) {
    margin-bottom: 1.5em;
  }

  &:hover {
    &::before {
      background-color: rgba(black, .7);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, .5);

    transition: $g-transition;
  }

  article {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 20px;
    background-size: auto 100%;

    text-align: center;

    @include transform(translateY(-50%) );
  }
}


///// COMMENTS /////

.post-comments {
  h3, h4 {
    margin-bottom: 0.75em;
    font-size: em($h5);
    font-weight: $font-weight;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    @include below(small) {
      font-size: em(18px);
    }
  }

  .comments-list,
  .replies-list {
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
  }


  .comments-list {
    > li {
      padding: 1em;
      margin-bottom: 1.5em;
      background-color: $body-background;

      border-radius: $g-radius;
      box-shadow: $shadow-z0;
    }
  }

  .replies-list {
    padding-left: 4.5em;
    font-size: em($font-size-small);
  }

  .comment-title {
    position: relative;
    padding-top: 2rem;
    margin: 2rem 0;

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      border-top: 2px solid rgba(0,0,0,.44);
      width: 75px;
    }
  }
}

// Single Comment

.comment {
  position: relative;
  color: rgba(black , .6);

  &.bypostauthor {
    b::after {
      @include icon;
      content: "account_box";
      margin-left: 5px;
      font-size: 1.25em;
      color: rgba($font-color-passive, .5);
    }
  }

  &.depth-1 {
    padding-bottom: 1.5em;

    .comment-avatar { margin-right: 10px; }
    p { margin-bottom: 1em; }
    b, time { display: block; }
  }

  &.depth-2 {
    padding-bottom: 1em;

    .comment-avatar {
      position: absolute;
      top: 0.25em; left: -1em;
      @include transform(translateX(-100%) );
    }

    time { display: inline-block; margin-bottom: 1em; }
    p { margin-bottom: 0.5em; }
  }

  b {
    display: inline-block;
    color: $font-color;
  }

  time {
    display: inline-block;
    margin-bottom: 10px;
    font-size: em($font-size-small);
    line-height: 1;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  .comment-avatar {
    float: left;
    width: 2.25em;
    height: 2.25em;
    border-radius: 50%;
  }
}

a.comment-reply-link {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;

  width: 1.5rem;
  height: 1.5rem;
  font-size: 0;
  text-decoration: none;
  transition: $g-transition;

  .comment:hover & {
    visibility: visible;
    opacity: 1;
  }

  .depth-2 & {
    display: none;
  }

  &::before {
    @include icon;
    content: "reply";
    font-size: 1.5rem;
    color: rgba($font-color-passive , .5);
  }

  &:hover::before { color: $color-link; }
}

///// COMMENT FORM /////

.comment-respond {
  margin-bottom: 2em;
}

.comment-form {
  padding: 1em;
  background-color: $body-background;
  box-shadow: $shadow-z0;

  label {
    margin-bottom: 0.5em;
  }

  textarea {
    height: 6em;
  }

  p {
    margin-bottom: 1em;
  }

  .form-submit {
    margin-bottom: 0;
  }

  .comment-notes,
  .logged-in-as {
    margin-bottom: 1em;
    font-size: em($font-size-small);
  }

  .logged-in-as {
    display: none;
  }
}

h3.comment-reply-title {
  margin: 0 0 2rem;
  padding-top: 0;

  #cancel-comment-reply-link {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    color: transparent;
    font-size: 0;
    text-transform: initial;

    &::before {
      @include icon;
      content: "cancel";
      color: $font-color-passive;
      font-size: 1.5rem;
    }

    &:hover::before { color: $color-red; }
  }
}

// Field and Submit

.comment-form-comment {
  label { display: none; }
}

.comment-form-author {
  padding-right: 0.5em;
}

.comment-form-email {
  padding-left: 0.5em;
}

.comment-form-author,
.comment-form-email {
  float: left;
  width: 50%;

  @include below(small) {
    display: block;
    width: 100%;
    padding: 0;
  }
}

.comment-form-url {
  display: none;
}

.form-submit {
  clear: both;
}


///// Pagination

.pagination {
  display: -webkit-flex;
  display: flex;
  margin: 4em 0;

  font-size: em($font-size-small);
  color: $font-color-passive;
  text-align: center;

  .page-button,
  select {
    cursor: pointer;
    display: inline-block;
    width: auto;
    border: 1px solid $font-color-passive;
    padding: 5px 1em;
    background-color: transparent;

    color: inherit;

    border-radius: $g-radius;
    transition: $g-transition;
    -webkit-appearance: none;

    &:hover { border-color: $font-color; color: $font-color; }
  }

  .page-button {
    align-self: center;

    &:first-child { margin-right: auto; }
    &:last-child { margin-left: auto; }

    // no href
    &:not([href]) {
      visibility: hidden;
      opacity: 0;
    }
  }

  select {
    border-color: transparent;
  }
}

///// INFINITE SCROLL (Jetpack)

.infinite-loader {
  margin: 2em 0;

  .spinner {
    left: 50% !important;
    @include transform(translateX(-50%) );
  }
}
