///// SHARING

$social-default-color: #333;

$social-logos: (
  twitter: (#00acee, '\f202', 'twitter-alt'),
  facebook: (#3b5998, '\f203'),
  google-plus-1: (#dd4b39, '\f218', 'google-plus'),
  pinterest: (#ca1f27, '\f210', 'pinterest-alt'),
  jetpack-whatsapp: (#25d366, '\f608', 'whatsapp'),
  skype: (#00aff0, '\f220'),
  pocket: (#ee4056, '\f224'),
  linkedin: (#0077b5, '\f207'),
  reddit: (#f54b00, '\f222'),
  tumblr: (#324f6d, '\f607'),
  telegram: (#0088cc, '\f606'),
  youtube: (#dd4b39, '\f213'),
  instagram: (#8a3ab9, '\f215'),

  custom-line: (#03c302, false),

  print: (false, '\f469'),
  more: (false, '\f415'),
);


///// SHARING

.sharedaddy {
  margin: 2em 0 2em;
  padding-top: 2em;
  border-top: 1px solid $gray;

  .share-end {
    display: none;
  }

  .sd-title {
    @include h( mb1 fs-s ls50 tt-uppercase nowrap );
    &::before { display: none; }
  }
}

.sd-content {
  ul {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

    padding-left: 0;
    margin: 0 -4px;
  }

  li {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding: 0 4px;
    margin-bottom: 8px;
  }
}


// Button
.sd-button {
  display: inline-block;
  overflow: hidden;
  border: 1px solid $social-default-color;
  border-bottom-width: 2px;
  text-decoration: none;
  color: $social-default-color;

  border-radius: 4px;

  .sd-social-icon-text &,
  .sd-social-text & {
    padding: 0px 10px 2px;
  }

  .sd-social-icon & {
    padding: 4px 10px;
    border-radius: 50%;

    &.share-more { padding-top: 0px; padding-bottom: 0px; border-radius: 4px; }
    &.share-more::before { margin-right: 4px; }
  }

  &:hover {
    background-color: rgba( $social-default-color, .2 );
    color: inherit;
  }

  &:active {
    border-top-width: 2px;
    border-bottom-width: 1px;
  }

  span {
    vertical-align: middle;
  }

  .sharing-screen-reader-text {
    display: none;
  }
}

.sd-button::before {
  content: "";
	display: inline-block;
  position: relative;
  top: 1px;

	font-family: 'social-logos';
  font-size: 18px;
  line-height: 1;
	vertical-align: middle;
	text-align: center;

  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  .sd-social-official & {
    top: -2px;
  }

  .sd-social-icon & {
    top: 0;
    font-size: 20px;
  }

  .sd-social-icon-text & {
    margin-right: 4px;
  }
}

// Social colors
@each $name, $values in $social-logos {
  // Sharedaddy color, if color is given
  @if nth($values, 1) {
    .social-logo__#{ $name }:hover::before {
      color: nth($values, 1);
    }

    @if length($values) > 2 {
      .social-logo__#{ nth($values, 3) }:hover::before {
        color: nth($values, 1);
      }
    }

    .sd-button.share-#{ $name } {
      border-color: nth($values, 1);
      color: nth($values, 1);

      &:hover {
        background-color: rgba( nth($values, 1), .2 );
      }
    }
  }

  @if nth($values, 2) {
    .social-logo.social-logo__#{ $name }::before,
    .sd-social-icon-text .sd-button.share-#{ $name }::before,
    .sd-social-icon .sd-button.share-#{ $name }::before {
      content: nth($values, 2);
    }
  }
}

// Custom button

.share-custom {
  .sd-social-icon-text & {
    padding-left: 6px;
  }

  span {
    padding-left: 1.25em;
    background: left no-repeat;
    background-size: 1em;
  }
}

// SOCIAL LOGO
// Base CSS and Font are loaded with jetpack

.social-logo {
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1;
  vertical-align: top;
  color: rgba(black, .4);

  .main-footer & {
    color: rgba(white, .4);
  }
}


///// JETPACK RESPONSIVE VIDEO

.jetpack-video-wrapper {
	margin-bottom: 1.6em;
}

.jetpack-video-wrapper > embed,
.jetpack-video-wrapper > iframe,
.jetpack-video-wrapper > object,
.jetpack-video-wrapper > .wp-video {
	margin-bottom: 0;
}
