@charset "UTF-8";
/* --------------------
  EDJE Framework
  http://github.com/hrsetyono/edje
  v2.3.0 (Morphling)
--------------------- */
/* ----------
  Normalize
---------- */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

*, body { margin: 0; padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

body { -webkit-animation: bugfix infinite 1s; }

@-webkit-keyframes bugfix { from { padding: 0; }
  to { padding: 0; } }

a { cursor: pointer; text-decoration: none; background-color: transparent; }

a:active, a:hover { outline: 0; }

b, strong { font-weight: bold; }

em { font-style: italic; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

img { border: 0; display: inline-block; vertical-align: middle; -ms-interpolation-mode: bicubic; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; display: block; height: 1px; margin: 1em 0; padding: 0; border: 0; border-top: 1px solid #ccc; }

blockquote cite { display: block; font-style: italic; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

img, object, embed { max-width: 100%; height: auto; }

#map_canvas img, .map_canvas img, #map_canvas object, .map_canvas object, #map_canvas embed, .map_canvas embed { max-width: none !important; }

object, embed { height: 100%; }

[hidden], template { display: none; }

address, cite { font-style: normal; }

abbr[title] { border-bottom: 1px dotted; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

button, input, optgroup, select, textarea { outline: none; margin: 0; color: inherit; font: inherit; }

button, input[type="submit"] { overflow: visible; cursor: pointer; outline: none; -webkit-backface-visibility: hidden; }

button:focus, input[type="submit"]:focus { outline: none; }

button, select { text-transform: none; }

optgroup { font-weight: bold; }

button, input, label { line-height: normal; }

label { display: block; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

input::-webkit-calendar-picker-indicator { display: none; }

input[type="date"]::-webkit-input-placeholder { visibility: hidden !important; }

textarea { overflow: auto; vertical-align: top; resize: vertical; height: auto; min-height: 50px; }

legend { border: 0; padding: 0; }

fieldset { border: 0; margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

.hide { display: none !important; visibility: hidden !important; }

.flex-iframe { overflow: hidden; position: relative; height: 0; padding-bottom: 67.5%; padding-top: 1.38889rem; }

.flex-iframe iframe, .flex-iframe object, .flex-iframe embed, .flex-iframe video { position: absolute; top: 0; left: 0; height: 100%; width: 100%; }

h1 { font-size: 2.625em; }

@media (max-width: 767px) { h1 { font-size: 1.875em; } }

h2 { font-size: 2.25em; }

@media (max-width: 767px) { h2 { font-size: 1.625em; } }

h3 { font-size: 1.875em; }

@media (max-width: 767px) { h3 { font-size: 1.375em; } }

h4, .wp-block-pullquote { font-size: 1.5em; }

@media (max-width: 767px) { h4, .wp-block-pullquote { font-size: 1.25em; } }

h5, div#jp-relatedposts h3.jp-relatedposts-headline, .post-comments h4 { font-size: 1.25em; }

@media (max-width: 767px) { h5, div#jp-relatedposts h3.jp-relatedposts-headline, .post-comments h4 { font-size: 1.125em; } }

h6 { font-size: 1em; }

@media (max-width: 767px) { h6 { font-size: 1em; } }

/* ----------
  Typography
----------- */
body { position: relative; background: #fff; font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; font-weight: 400; line-height: 1.65; color: #222; }

p { margin-top: 0; margin-bottom: 0; }

a { color: #0366d6; transition: all 0.25s ease-out; }

a:hover { color: #107ffc; }

h1, h2, h3, h4, h5, h6 { font-family: "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times", "Source Serif Pro", serif; font-weight: 700; line-height: 1.25; color: #222; letter-spacing: 0; text-transform: none; }

ul { list-style-type: disc; }

ul ul { list-style-type: circle; }

ol { list-style-type: decimal; }

ol ol { list-style-type: lower-alpha; }

h-grid { display: -ms-grid; display: grid; grid-template-columns: repeat(12, 1fr); grid-column-gap: 20px; max-width: 1140px; padding-right: 10px; padding-left: 10px; margin: 0 auto; }

h-grid.collapse { grid-column-gap: 0; }

h-grid h-grid { margin: 0; padding: 0; }

.large-1 { grid-column: span 1; }

.large-2 { grid-column: span 2; }

.large-3 { grid-column: span 3; }

.large-4 { grid-column: span 4; }

.large-5 { grid-column: span 5; }

.large-6 { grid-column: span 6; }

.large-7 { grid-column: span 7; }

.large-8 { grid-column: span 8; }

.large-9 { grid-column: span 9; }

.large-10 { grid-column: span 10; }

.large-11 { grid-column: span 11; }

.large-12 { grid-column: span 12; }

@media (max-width: 767px) { [class*="large-"] { grid-column: span 12; }
  .small-1 { grid-column: span 1; }
  .small-2 { grid-column: span 2; }
  .small-3 { grid-column: span 3; }
  .small-4 { grid-column: span 4; }
  .small-5 { grid-column: span 5; }
  .small-6 { grid-column: span 6; }
  .small-7 { grid-column: span 7; }
  .small-8 { grid-column: span 8; }
  .small-9 { grid-column: span 9; }
  .small-10 { grid-column: span 10; }
  .small-11 { grid-column: span 11; }
  .small-12 { grid-column: span 12; } }

h-tile { display: -ms-grid; display: grid; grid-column-gap: 20px; grid-row-gap: 20px; }

h-tile.collapse { grid-column-gap: 0; }

h-tile > * { grid-column: span 1; }

.tile-1 { grid-template-columns: repeat(1, 1fr); }

.tile-2 { grid-template-columns: repeat(2, 1fr); }

.tile-3 { grid-template-columns: repeat(3, 1fr); }

.tile-4 { grid-template-columns: repeat(4, 1fr); }

.tile-5 { grid-template-columns: repeat(5, 1fr); }

.tile-6 { grid-template-columns: repeat(6, 1fr); }

.tile-7 { grid-template-columns: repeat(7, 1fr); }

.tile-8 { grid-template-columns: repeat(8, 1fr); }

@media (max-width: 767px) { [class*="tile-"] { grid-template-columns: repeat(1, 1fr); }
  .small-tile-1 { grid-template-columns: repeat(1, 1fr); }
  .small-tile-2 { grid-template-columns: repeat(2, 1fr); }
  .small-tile-3 { grid-template-columns: repeat(3, 1fr); }
  .small-tile-4 { grid-template-columns: repeat(4, 1fr); }
  .small-tile-5 { grid-template-columns: repeat(5, 1fr); }
  .small-tile-6 { grid-template-columns: repeat(6, 1fr); }
  .small-tile-7 { grid-template-columns: repeat(7, 1fr); }
  .small-tile-8 { grid-template-columns: repeat(8, 1fr); } }

@media (min-width: 768px) { .hide-for-l, .show-for-s { display: none !important; } }

@media (max-width: 767px) { .hide-for-s, .show-for-l { display: none !important; } }

@media (min-width: 481px) { .show-for-xs { display: none !important; } }

@media (max-width: 480px) { .hide-for-xs { display: none !important; } }

[data-animate] { visibility: hidden !important; }

.animate { visibility: visible !important; animation-duration: 1s; animation-fill-mode: both; }

.animate.fadeIn { animation-name: fadeIn; }

@keyframes ( fadeIn ) { 0% { opacity: 0; }
  100% { opacity: 1; } }

.animate.fadeInDown { animation-name: fadeInDown; }

@keyframes ( fadeInDown ) { 0% { opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% { opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

.animate.fadeInUp { animation-name: fadeInUp; }

@keyframes ( fadeInUp ) { 0% { opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px); }
  100% { opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

article { letter-spacing: 0.16px; }

article h1, article h2, article h3, article h4, article h5, article h6 { margin-top: 2rem; margin-bottom: 1.25rem; }

article a { text-decoration: underline; }

article p, article ul, article ol, article blockquote, article pre, article table, article figure { margin-bottom: 1.5em; }

article hr { display: block; height: 1px; border: 0; border-top: 1px solid #e0e0e0; margin: 2.5em auto; padding: 0; }

article ul, article ol { padding-left: 1.5em; }

article ul ul, article ol ol { margin-bottom: 0; }

article img { border-radius: 4px; }

blockquote { padding: 1em 1em 1em 2em; background-color: #f3f6f8; border-left: 4px solid #e0e0e0; }

blockquote p { margin-bottom: 0; }

blockquote cite { display: block; margin-top: 1em; font-size: 14px; }

blockquote.alignleft, blockquote.align-right { margin-left: 0; }

article table { width: 100%; }

article table tr { background-color: #fff; }

article table tr:nth-child(odd) { background-color: #f6f6f6; }

article table th, article table td { padding: 0.375em 0.5em; border: 1px solid #efefef; text-align: left; }

article table p { margin-bottom: 0; }

pre, code { background-color: #f3f6f8; border: 1px solid #e0e0e0; border-radius: 4px; font-size: 0.875rem; }

pre code { padding: 0; border: none; background-color: transparent; }

pre { padding: 1em; }

code { padding: 0 0.5em; }

h1, h2, h3, h4, h5, h6 { clear: both; }

.alignleft { float: left; margin-right: 1em; }

.alignright { float: right; margin-left: 1em; }

.alignleft, .alignright { max-width: 50%; margin-bottom: 1em; }

@media (max-width: 767px) { .alignleft, .alignright { float: none; max-width: none; } }

.aligncenter { display: block; margin: 0 auto; clear: both; }

.alignfull, .alignwide { width: auto; }

@media (min-width: 768px) { .alignfull, .alignwide { margin-right: -5em; margin-left: -5em; } }

.wp-block-pullquote { padding: 1em 0; border-top: 2px solid #e0e0e0; border-bottom: 2px solid #e0e0e0; background-color: #f3f6f8; text-align: center; }

.wp-block-pullquote cite { text-align: center; }

.wp-caption, .wp-block-image, .wp-block-embed { position: relative; margin-bottom: 1.5em; width: auto !important; text-align: center; }

.wp-caption-text { display: inline-block; margin: 0.5em auto 0; padding: 0 2em 0.5em; border-bottom: 1px solid #e0e0e0; font-size: 0.875em; }

.gallery, .tiled-gallery { margin-bottom: 1.5em; }

.gallery a, .tiled-gallery a { display: block; }

.gallery a img, .tiled-gallery a img { cursor: pointer; transition: all 0.25s ease-out; }

.gallery a:hover img, .tiled-gallery a:hover img { opacity: .7; }

.gallery[class*="gallery-columns-"] { display: -ms-flexbox; display: -webkit-flex; display: flex; flex-wrap: wrap; }

.gallery-item { padding: 0 1px; margin-top: 0 !important; margin-bottom: 2px; }

.gallery-item img { border: none !important; border-radius: 4px; }

.gallery-columns-2 .gallery-item { width: 50%; }

.gallery-columns-3 .gallery-item { width: 33.33333%; }

.gallery-columns-4 .gallery-item { width: 25%; }

.gallery-columns-5 .gallery-item { width: 20%; }

.gallery-columns-6 .gallery-item { width: 16.66667%; }

.gallery-columns-7 .gallery-item { width: 14.28571%; }

.gallery-columns-8 .gallery-item { width: 12.5%; }

.gallery-columns-9 .gallery-item { width: 11.11111%; }

ul.wp-block-gallery { padding-left: 0; }

.post-grid { grid-template-columns: repeat(4, 1fr); max-width: 670px; }

.post-content { font-size: 1.125em; }

.post-featured-image { margin-bottom: 2em; text-align: center; }

.post-featured-image img { border-radius: 4px; }

.post-header { margin: 2em 0; }

.post-meta .meta-author { padding-right: 0.5em; }

@media (max-width: 767px) { .post-meta .meta-author { padding-right: 0.5em; } }

.post-meta .meta-category { text-transform: uppercase; }

.post-meta time, .post-meta .meta-comments { display: inline-block; padding: 0 0.5em; border-left: 1px solid #e0e0e0; }

@media (max-width: 767px) { .post-meta time, .post-meta .meta-comments { padding: 0 0.5em; } }

.post-meta a { color: inherit; text-decoration: none; }

.post-meta a:hover { text-decoration: underline; }

.post-meta .dashicons-before::before { width: 1em; height: 1em; font-size: 1.14286em; vertical-align: middle; }

.post-banner .post-meta { margin-bottom: 1em; color: white; }

.post-tease .post-meta { color: #b5c0c5; }

.post-header .post-meta { border-top: 1px solid #e0e0e0; border-bottom: 2px solid #222; margin-top: 0.5em; padding: 0.5em 0; }

.post-tease { display: -ms-flexbox; display: -webkit-flex; display: flex; flex-direction: row-reverse; position: relative; padding-bottom: 2em; margin: 2em 0; border-bottom: 1px solid #e0e0e0; }

.post-tease a { text-decoration: none; color: inherit; }

.post-tease figure { margin-bottom: 0; margin-left: 10px; }

@media (max-width: 767px) { .post-tease { display: block; }
  .post-tease figure { float: right; }
  .post-tease img { width: 150px; } }

@media (max-width: 960px) { .post-tease img { width: 100px; } }

.tease-body { flex: 1; }

.tease-body > a:hover h3 { text-decoration: underline; }

.tease-body h3 { margin: 0 0 0.5rem; }

.tease-body p { margin-bottom: 1em; }

@media (max-width: 767px) { .tease-body h3 { clear: none; } }

.post-banner { display: -ms-flexbox; display: -webkit-flex; display: flex; align-items: flex-end; position: relative; overflow: hidden; background-size: cover; background-position: center center; margin: 0 -50px 2em; padding: 1.5em 50px; height: 350px; border-radius: 4px; }

@media (max-width: 960px) { .post-banner { margin-right: -10px; margin-left: -10px; } }

@media (max-width: 767px) { .post-banner { height: 300px; } }

.post-banner::before { content: ""; position: absolute; z-index: 2; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); }

.post-banner-overlay { position: relative; z-index: 10; }

.post-banner-overlay * { margin-top: 0; color: white; }

.post-banner-overlay a { text-decoration: none; }

.post-banner-overlay a:hover h2 { text-decoration: underline; }

.blog-nav { display: -ms-flexbox; display: -webkit-flex; display: flex; flex-wrap: wrap; margin: 2em 0 2em; padding: 0.5em 0; border-bottom: 2px solid #222; border-top: 1px solid #e0e0e0; }

.blog-nav a { display: inline-block; padding: 5px 7px; color: #222; text-transform: uppercase; font-size: 0.875em; letter-spacing: 0.5px; border-radius: 4px; transition: all 0.25s ease-out; }

.blog-nav a:hover { color: #2196f3; }

.blog-nav a.active { background-color: #2196f3; color: white; }

.post-author { display: -ms-flexbox; display: -webkit-flex; display: flex; padding: 2em 0; margin-top: 1em; border-top: 1px solid #e0e0e0; }

.post-author h6 { margin-top: 0; margin-bottom: 0.5em; }

@media (max-width: 480px) { .post-author { flex-direction: column; text-align: center; } }

.banner-author { padding: 2em 0; text-align: center; }

.author-image img { border: 1px solid #e0e0e0; padding: 0.25em; height: 4em; width: 4em; border-radius: 50%; }

.banner-author .author-image { margin-bottom: 1em; }

@media (max-width: 480px) { .author-image { margin-bottom: 1em; } }

.post-author .author-text { flex: 1; padding: 0 10px; }

.post-author .author-text p { margin-bottom: 0; font-size: 0.875em; }

.banner-author .author-text { margin-bottom: 1.5em; }

.author-text * + p { margin-top: 0.5em; }

.author-text a { color: inherit; text-decoration: none; }

.author-text a:hover { color: inherit; text-decoration: underline; }

.author-text b { text-transform: uppercase; font-weight: 400; font-size: 0.875em; letter-spacing: 0.5px; }

.post-author .author-text b { display: none; }

.author-text .author-url { color: #b5c0c5; }

.banner-author .author-text .author-url { color: #2196f3; }

@media (max-width: 480px) { .author-text { margin-bottom: 1em; } }

.post-footer { padding-top: 1em; background-color: rgba(0, 0, 0, 0.03); }

.post-footer-grid { grid-template-columns: repeat(4, 1fr); max-width: 605px; }

div#jp-relatedposts h3.jp-relatedposts-headline, .post-comments h4 { display: block; float: none; margin: 2rem 0; text-transform: uppercase; letter-spacing: 0.5px; }

@media (max-width: 767px) { div#jp-relatedposts h3.jp-relatedposts-headline, .post-comments h4 { font-size: 1.125em; } }

div#jp-relatedposts { display: block; padding-top: 0; margin: 0 0 3em; }

div#jp-relatedposts div.jp-relatedposts-items { display: -webkit-flex; display: flex; margin: 0 -125px; }

@media (max-width: 870px) { div#jp-relatedposts div.jp-relatedposts-items { margin: 0 -5px; } }

@media (max-width: 767px) { div#jp-relatedposts div.jp-relatedposts-items { flex-direction: column; margin: 0; } }

div#jp-relatedposts div.jp-relatedposts-items::before, div#jp-relatedposts div.jp-relatedposts-items::after { content: ""; display: table; }

div#jp-relatedposts div.jp-relatedposts-items::after { clear: both; }

div#jp-relatedposts h3.jp-relatedposts-headline em { font-style: normal; }

div#jp-relatedposts h3.jp-relatedposts-headline em::before { display: none; }

div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post { overflow: hidden; padding: 1em; margin: 0 10px; width: 33%; opacity: 1; background-color: white; box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.18), 0 1.5px 6px rgba(0, 0, 0, 0.08); border-radius: 4px; }

div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post:hover .jp-relatedposts-post-title .jp-relatedposts-post-a { text-decoration: none; }

@media (max-width: 870px) { div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post { margin: 0 5px; } }

@media (max-width: 767px) { div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post { width: 100%; margin: 0; margin-bottom: 1em; } }

div#jp-relatedposts .jp-relatedposts-post > .jp-relatedposts-post-a { overflow: hidden; display: block; max-height: 160px; margin: -1em; margin-bottom: 1em; }

div#jp-relatedposts .jp-relatedposts-post > .jp-relatedposts-post-a:hover + .jp-relatedposts-post-title { text-decoration: underline; }

div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title { clear: none; font-size: 1.25em; letter-spacing: normal; line-height: 1.25; }

div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title:hover { text-decoration: underline; }

div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title a { display: block; font-weight: 700; color: inherit; }

@media (max-width: 480px) { div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title { font-size: 1em; } }

div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post p, div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post span { overflow: initial; max-width: 100%; font-size: 0.875em; }

div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-excerpt, div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-context { display: none; }

div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-date { display: inline-block; opacity: 0.6; }

@media (max-width: 480px) { div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-date { font-size: 0.75em; } }

@media (max-width: 870px) { div#jp-relatedposts div.jp-relatedposts-items div.jp-relatedposts-post-thumbs { font-size: 0.875em; } }

@media (max-width: 767px) { div#jp-relatedposts div.jp-relatedposts-items div.jp-relatedposts-post-thumbs { padding-bottom: 0; }
  div#jp-relatedposts div.jp-relatedposts-items div.jp-relatedposts-post-thumbs > .jp-relatedposts-post-a { float: left; max-width: 150px; margin-right: 10px; margin-bottom: 0; } }

div#jp-relatedposts.jp-next-prev div.jp-relatedposts-items { flex-direction: row; margin: 0 -10px; }

div#jp-relatedposts.jp-next-prev div.jp-relatedposts-items .jp-relatedposts-post { margin: 0 10px; width: 50%; }

@media (max-width: 767px) { div#jp-relatedposts.jp-next-prev div.jp-relatedposts-items .jp-relatedposts-post { padding: 0.5em; } }

@media (max-width: 767px) { div#jp-relatedposts.jp-next-prev .jp-relatedposts-post > .jp-relatedposts-post-a { margin: -0.5em; margin-bottom: 0.5em; } }

div#jp-relatedposts.jp-next-prev div.jp-relatedposts-items .jp-relatedposts-nothumb { display: -webkit-flex; display: flex; flex-direction: column; justify-content: center; text-align: center; }

div#jp-relatedposts.jp-next-prev div.jp-relatedposts-items .jp-relatedposts-nothumb .jp-relatedposts-post-title { font-size: 1.5em; }

@media (max-width: 767px) { div#jp-relatedposts.jp-next-prev div.jp-relatedposts-items .jp-relatedposts-nothumb .jp-relatedposts-post-title { font-size: 1.25em; } }

div#jp-relatedposts.jp-next-prev div.jp-relatedposts-items .jp-relatedposts-nothumb .jp-relatedposts-nothumb-excerpt { margin-top: 1em; }

@media (max-width: 767px) { div#jp-relatedposts.jp-next-prev div.jp-relatedposts-items .jp-relatedposts-nothumb .jp-relatedposts-nothumb-excerpt { display: none; } }

div#jp-relatedposts.jp-next-prev div.jp-relatedposts-items .jp-relatedposts-nothumb .jp-relatedposts-nothumb-excerpt a { display: block; }

.post-comments ul { list-style-type: none; }

.comments-list { margin-top: 2em; }

.comments-list > li { padding: 1.25em; margin-bottom: 1.5em; background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.1); border-radius: 4px; }

.comment { position: relative; color: #222; }

.comment.bypostauthor .comment-avatar { padding: 1px; box-shadow: 0 0 0 1px #222; }

.comment .avatar { width: 2.5em; height: 2.5em; margin-right: 10px; border-radius: 50%; transition: all 0.25s ease-out; }

.comment-header { margin-bottom: 1em; }

.comment-header b, .comment-header time { display: inline-block; line-height: 1; vertical-align: middle; }

.comment-header b { color: #222; }

.comment-header time { margin-left: 0.5em; font-size: 0.875em; color: #b5c0c5; }

.comment-text p { margin-bottom: 1em; }

.comment-text p:last-of-type { margin-bottom: 0; }

.replies-list { margin-top: 1.5em; padding-left: 1.25em; border-left: 2px solid rgba(34, 34, 34, 0.1); }

.replies-list .comment { font-size: 0.875em; }

.replies-list .comment-avatar { display: none; }

.replies-list > li + li { margin-top: 1.5em; }

.replies-list header { margin-bottom: 0.5em; }

.replies-list p { margin-bottom: 0.5em; }

a.comment-reply-link { visibility: hidden; opacity: 0; position: absolute; top: 5px; right: 0; font-size: 0.75rem; font-weight: 700; color: rgba(136, 136, 136, 0.7); text-decoration: none; text-transform: uppercase; transition: all 0.25s ease-out; }

.comment:hover a.comment-reply-link { visibility: visible; opacity: 1; }

a.comment-reply-link:hover { color: #0366d6; }

.comment-respond { margin-bottom: 2em; }

.comments-list .comment-respond { width: 110%; margin: 0 -5%; }

.comment-reply-title { display: none; }

.comment-form { padding: 1em; background-color: #fff; box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.18), 0 1.5px 6px rgba(0, 0, 0, 0.08); border-radius: 4px; }

.comments-list .comment-form { margin-top: 1.25em; box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.comment-form label { margin-bottom: 0.5em; text-transform: uppercase; font-size: 0.875em; letter-spacing: 1px; }

.comment-form p { margin-bottom: 1em; }

.comment-form p:last-of-type { margin-bottom: 0; }

.comment-form .comment-notes, .comment-form .logged-in-as { display: block; margin-bottom: 1em; color: #b5c0c5; font-size: 0.875em; }

.comment-form .comment-notes a, .comment-form .logged-in-as a { color: inherit; }

.comment-form:not(.active) p { margin-bottom: 0; }

.comment-form:not(.active) .comment-notes, .comment-form:not(.active) .logged-in-as { display: none; }

.comment-form-comment label { display: none; }

.comment-form-comment textarea { height: 9em; }

.comment-form:not(.active) .comment-form-comment textarea { height: 2.6em; min-height: auto; padding: 0.5em 0; border: none; box-shadow: none; }

.comment-form:not(.active):hover .comment-form-comment textarea::-webkit-input-placeholder { color: #2196f3; }

.comment-form:not(.active):hover .comment-form-comment textarea::-moz-placeholder { color: #2196f3; }

.comment-form:not(.active):hover .comment-form-comment textarea:-ms-input-placeholder { color: #2196f3; }

.comment-form:not(.active):hover .comment-form-comment textarea:-moz-placeholder { color: #2196f3; }

.comment-form-author { padding-right: 0.5em; }

.comment-form-email { padding-left: 0.5em; }

.comment-form-author, .comment-form-email { display: none; float: left; width: 50%; }

.active .comment-form-author, .active .comment-form-email { display: block; }

@media (max-width: 767px) { .comment-form-author, .comment-form-email { display: block; width: 100%; padding: 0; } }

.comment-form-url { display: none; }

.form-submit { display: none; clear: both; }

.active .form-submit { display: block; }

.pagination { display: -ms-flexbox; display: -webkit-flex; display: flex; margin: 2em 0; font-size: 0.875em; color: #888; text-align: center; }

.pagination a, .pagination select { cursor: pointer; width: auto; -webkit-appearance: none; appearance: none; }

.pagination select:not(:hover) { border-color: transparent; }

.pagination a { align-self: center; }

.pagination a:first-child { margin-right: auto; }

.pagination a:last-child { margin-left: auto; }

.pagination a:not([href]) { visibility: hidden; opacity: 0; }

.basicLightbox { position: fixed; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; top: 0; left: 0; width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.8); opacity: .01; -webkit-transition: opacity .4s ease; transition: opacity .4s ease; z-index: 10000; will-change: opacity; }

.basicLightbox--visible { opacity: 1; }

.basicLightbox__placeholder { max-width: 100%; -webkit-transform: scale(0.9); transform: scale(0.9); -webkit-transition: -webkit-transform .4s ease; transition: transform .4s ease; transition: transform .4s ease,-webkit-transform .4s ease; z-index: 1; will-change: transform; }

.basicLightbox__placeholder > iframe:first-child:last-child, .basicLightbox__placeholder > img:first-child:last-child, .basicLightbox__placeholder > video:first-child:last-child { display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; max-width: 95%; max-height: 95%; }

.basicLightbox__placeholder > iframe:first-child:last-child, .basicLightbox__placeholder > video:first-child:last-child { pointer-events: auto; }

.basicLightbox__placeholder > img:first-child:last-child, .basicLightbox__placeholder > video:first-child:last-child { width: auto; height: auto; }

.basicLightbox--iframe .basicLightbox__placeholder, .basicLightbox--img .basicLightbox__placeholder, .basicLightbox--video .basicLightbox__placeholder { width: 100%; height: 100%; pointer-events: none; }

.basicLightbox--visible .basicLightbox__placeholder { -webkit-transform: scale(1); transform: scale(1); }

.lightbox-content { overflow-y: auto; overflow-x: hidden; background-color: white; padding: 1em; margin: 0 10px; max-width: 800px; max-height: 80vh; border-radius: 4px; -webkit-backface-visibility: hidden; }

@media (max-width: 767px) { .lightbox-content { padding: 0.5em; margin: 0 5px; } }

.lightbox-close { display: -ms-flexbox; display: -webkit-flex; display: flex; align-items: center; justify-content: center; position: absolute; z-index: 2; top: 0; right: 10px; text-decoration: none !important; }

.lightbox-close::after { display: block; content: '×'; width: 36px; height: 36px; font-size: 26px; line-height: 1; background-color: #607d8b; transition: all 0.25s ease-out; text-align: center; color: #222; font-weight: 700; border-radius: 0 0 0.5rem 0.5rem; }

.lightbox-close:hover::after { background-color: #4b626d; }

@media (max-width: 767px) { .lightbox-close { right: 5px; } }

.sharedaddy { margin: 2em 0 2em; padding-top: 2em; border-top: 1px solid #e0e0e0; }

.sharedaddy .share-end { display: none; }

.sharedaddy .sd-title { margin: 0 0 1em 0; letter-spacing: 0.5px; font-size: 0.875em; text-transform: uppercase; white-space: nowrap; }

.sharedaddy .sd-title::before { display: none; }

.sd-content ul { display: -webkit-flex; display: flex; flex-wrap: wrap; list-style-type: none; padding-left: 0; margin: 0 -4px; }

.sd-content li { display: -webkit-flex; display: flex; align-items: center; padding: 0 4px; margin-bottom: 8px; }

.sd-button { display: inline-block; overflow: hidden; border: 1px solid #333; border-bottom-width: 2px; text-decoration: none; color: #333; border-radius: 4px; }

.sd-social-icon-text .sd-button, .sd-social-text .sd-button { padding: 0px 10px 2px; }

.sd-social-icon .sd-button { padding: 4px 10px; border-radius: 50%; }

.sd-social-icon .sd-button.share-more { padding-top: 0px; padding-bottom: 0px; border-radius: 4px; }

.sd-social-icon .sd-button.share-more::before { margin-right: 4px; }

.sd-button:hover { background-color: rgba(51, 51, 51, 0.2); color: inherit; }

.sd-button:active { border-top-width: 2px; border-bottom-width: 1px; }

.sd-button span { vertical-align: middle; }

.sd-button .sharing-screen-reader-text { display: none; }

.sd-button::before { content: ""; display: inline-block; position: relative; top: 1px; font-family: 'social-logos'; font-size: 18px; line-height: 1; vertical-align: middle; text-align: center; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.sd-social-official .sd-button::before { top: -2px; }

.sd-social-icon .sd-button::before { top: 0; font-size: 20px; }

.sd-social-icon-text .sd-button::before { margin-right: 4px; }

.social-logo__twitter:hover::before { color: #00acee; }

.social-logo__twitter-alt:hover::before { color: #00acee; }

.sd-button.share-twitter { border-color: #00acee; color: #00acee; }

.sd-button.share-twitter:hover { background-color: rgba(0, 172, 238, 0.2); }

.social-logo.social-logo__twitter::before, .sd-social-icon-text .sd-button.share-twitter::before, .sd-social-icon .sd-button.share-twitter::before { content: ""; }

.social-logo__facebook:hover::before { color: #3b5998; }

.sd-button.share-facebook { border-color: #3b5998; color: #3b5998; }

.sd-button.share-facebook:hover { background-color: rgba(59, 89, 152, 0.2); }

.social-logo.social-logo__facebook::before, .sd-social-icon-text .sd-button.share-facebook::before, .sd-social-icon .sd-button.share-facebook::before { content: ""; }

.social-logo__google-plus-1:hover::before { color: #dd4b39; }

.social-logo__google-plus:hover::before { color: #dd4b39; }

.sd-button.share-google-plus-1 { border-color: #dd4b39; color: #dd4b39; }

.sd-button.share-google-plus-1:hover { background-color: rgba(221, 75, 57, 0.2); }

.social-logo.social-logo__google-plus-1::before, .sd-social-icon-text .sd-button.share-google-plus-1::before, .sd-social-icon .sd-button.share-google-plus-1::before { content: ""; }

.social-logo__pinterest:hover::before { color: #ca1f27; }

.social-logo__pinterest-alt:hover::before { color: #ca1f27; }

.sd-button.share-pinterest { border-color: #ca1f27; color: #ca1f27; }

.sd-button.share-pinterest:hover { background-color: rgba(202, 31, 39, 0.2); }

.social-logo.social-logo__pinterest::before, .sd-social-icon-text .sd-button.share-pinterest::before, .sd-social-icon .sd-button.share-pinterest::before { content: ""; }

.social-logo__jetpack-whatsapp:hover::before { color: #25d366; }

.social-logo__whatsapp:hover::before { color: #25d366; }

.sd-button.share-jetpack-whatsapp { border-color: #25d366; color: #25d366; }

.sd-button.share-jetpack-whatsapp:hover { background-color: rgba(37, 211, 102, 0.2); }

.social-logo.social-logo__jetpack-whatsapp::before, .sd-social-icon-text .sd-button.share-jetpack-whatsapp::before, .sd-social-icon .sd-button.share-jetpack-whatsapp::before { content: ""; }

.social-logo__skype:hover::before { color: #00aff0; }

.sd-button.share-skype { border-color: #00aff0; color: #00aff0; }

.sd-button.share-skype:hover { background-color: rgba(0, 175, 240, 0.2); }

.social-logo.social-logo__skype::before, .sd-social-icon-text .sd-button.share-skype::before, .sd-social-icon .sd-button.share-skype::before { content: ""; }

.social-logo__pocket:hover::before { color: #ee4056; }

.sd-button.share-pocket { border-color: #ee4056; color: #ee4056; }

.sd-button.share-pocket:hover { background-color: rgba(238, 64, 86, 0.2); }

.social-logo.social-logo__pocket::before, .sd-social-icon-text .sd-button.share-pocket::before, .sd-social-icon .sd-button.share-pocket::before { content: ""; }

.social-logo__linkedin:hover::before { color: #0077b5; }

.sd-button.share-linkedin { border-color: #0077b5; color: #0077b5; }

.sd-button.share-linkedin:hover { background-color: rgba(0, 119, 181, 0.2); }

.social-logo.social-logo__linkedin::before, .sd-social-icon-text .sd-button.share-linkedin::before, .sd-social-icon .sd-button.share-linkedin::before { content: ""; }

.social-logo__reddit:hover::before { color: #f54b00; }

.sd-button.share-reddit { border-color: #f54b00; color: #f54b00; }

.sd-button.share-reddit:hover { background-color: rgba(245, 75, 0, 0.2); }

.social-logo.social-logo__reddit::before, .sd-social-icon-text .sd-button.share-reddit::before, .sd-social-icon .sd-button.share-reddit::before { content: ""; }

.social-logo__tumblr:hover::before { color: #324f6d; }

.sd-button.share-tumblr { border-color: #324f6d; color: #324f6d; }

.sd-button.share-tumblr:hover { background-color: rgba(50, 79, 109, 0.2); }

.social-logo.social-logo__tumblr::before, .sd-social-icon-text .sd-button.share-tumblr::before, .sd-social-icon .sd-button.share-tumblr::before { content: ""; }

.social-logo__telegram:hover::before { color: #0088cc; }

.sd-button.share-telegram { border-color: #0088cc; color: #0088cc; }

.sd-button.share-telegram:hover { background-color: rgba(0, 136, 204, 0.2); }

.social-logo.social-logo__telegram::before, .sd-social-icon-text .sd-button.share-telegram::before, .sd-social-icon .sd-button.share-telegram::before { content: ""; }

.social-logo__youtube:hover::before { color: #dd4b39; }

.sd-button.share-youtube { border-color: #dd4b39; color: #dd4b39; }

.sd-button.share-youtube:hover { background-color: rgba(221, 75, 57, 0.2); }

.social-logo.social-logo__youtube::before, .sd-social-icon-text .sd-button.share-youtube::before, .sd-social-icon .sd-button.share-youtube::before { content: ""; }

.social-logo__instagram:hover::before { color: #8a3ab9; }

.sd-button.share-instagram { border-color: #8a3ab9; color: #8a3ab9; }

.sd-button.share-instagram:hover { background-color: rgba(138, 58, 185, 0.2); }

.social-logo.social-logo__instagram::before, .sd-social-icon-text .sd-button.share-instagram::before, .sd-social-icon .sd-button.share-instagram::before { content: ""; }

.social-logo__custom-line:hover::before { color: #03c302; }

.sd-button.share-custom-line { border-color: #03c302; color: #03c302; }

.sd-button.share-custom-line:hover { background-color: rgba(3, 195, 2, 0.2); }

.social-logo.social-logo__print::before, .sd-social-icon-text .sd-button.share-print::before, .sd-social-icon .sd-button.share-print::before { content: ""; }

.social-logo.social-logo__more::before, .sd-social-icon-text .sd-button.share-more::before, .sd-social-icon .sd-button.share-more::before { content: ""; }

.sd-social-icon-text .share-custom { padding-left: 6px; }

.share-custom span { padding-left: 1.25em; background: left no-repeat; background-size: 1em; }

.social-logo { font-weight: normal; font-size: 1.5em; line-height: 1; vertical-align: top; color: rgba(0, 0, 0, 0.4); }

.main-footer .social-logo { color: rgba(255, 255, 255, 0.4); }

.jetpack-video-wrapper { margin-bottom: 1.6em; }

.jetpack-video-wrapper > embed, .jetpack-video-wrapper > iframe, .jetpack-video-wrapper > object, .jetpack-video-wrapper > .wp-video { margin-bottom: 0; }

.button, [type="submit"], [type="reset"] { cursor: pointer; overflow: hidden; display: inline-block; border-color: #0c7cd5; background-color: #2196f3; border: 1px solid; border-bottom: 2px solid; border-radius: 4px; padding-top: 0.25rem; padding-bottom: 0.25rem; padding-right: 0.75rem; padding-left: 0.75rem; font-weight: 600; line-height: normal; vertical-align: top; color: white; transition: none; outline: none; }

.button:hover, [type="submit"]:hover, [type="reset"]:hover { color: white; border-color: #0960a5; }

.button:active, [type="submit"]:active, [type="reset"]:active { border-top-width: 2px; border-bottom-width: 1px; }

.button[disabled], .button.disabled, [type="submit"][disabled], [type="submit"].disabled, [type="reset"][disabled], [type="reset"].disabled { cursor: not-allowed; opacity: 0.5; }

.button--passive, .button--loading { border-color: #e0e0e0; background-color: #f3f6f8; color: #222; }

.button--passive:hover, .button--loading:hover { color: #222; border-color: #c7c7c7; }

.button--loading { cursor: not-allowed; background-position: center center; background-repeat: no-repeat; background-image: url("../../../../../wp-admin/images/spinner.gif"); color: transparent !important; }

[type="text"], [type="number"], [type="tel"], [type="password"], [type="email"], [type="search"], [type="url"], [type="date"], [type="time"], textarea, select { display: block; width: 100%; padding-top: 0.75rem; padding-bottom: 0.75rem; padding-right: 0.5rem; padding-left: 0.5rem; border: 2px solid; border-color: #e0e0e0; border-radius: 4px; line-height: normal; transition: all 0.25s ease-out; }

[type="text"]:focus, [type="number"]:focus, [type="tel"]:focus, [type="password"]:focus, [type="email"]:focus, [type="search"]:focus, [type="url"]:focus, [type="date"]:focus, [type="time"]:focus, textarea:focus, select:focus { border-color: #2196f3; box-shadow: 0 0 0 2px #78dcfa; }

select { border-width: 1px 1px 2px; }

[type="radio"], [type="checkbox"] { cursor: pointer; border: 1px solid; border-color: rgba(0, 0, 0, 0.25); vertical-align: bottom; transition: all 0.25s ease-out; -moz-appearance: none; -webkit-appearance: none; appearance: none; width: 1rem; height: 1rem; }

[type="radio"]:hover, [type="checkbox"]:hover { border-color: #2196f3; }

[type="radio"]:checked, [type="checkbox"]:checked { border-color: #2196f3; box-shadow: inset 0 0 0 4.5px #2196f3; }

[type="checkbox"] { border-radius: 4px; }

[type="radio"] { border-radius: 50%; }

.content-error { text-align: center; padding: 100px 0; }

@media (max-width: 767px) { .content-error { padding-top: 2rem; padding-bottom: 2rem; } }

.content-error h1 { margin-bottom: 1rem; text-transform: uppercase; line-height: 1; color: #2196f3; }

.content-error span { display: block; color: #222; font-size: base 36px s 26px; }

form.wpcf7-form { padding: 0.75rem; margin-right: auto; margin-left: auto; background-color: white; box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); max-width: 570px; }

form.wpcf7-form br { display: none; }

form.wpcf7-form label { display: block; font-size: 0.875em; font-weight: 600; letter-spacing: 0.05em; text-transform: uppercase; }

div.wpcf7 span.wpcf7-not-valid-tip { color: #f45b4f; font-size: 0.875em; }

div.wpcf7 div.wpcf7-response-output { margin: 0; margin-top: 1rem; border-radius: 4px; text-align: center; border-width: 1px; }

div.wpcf7 .wpcf7-validation-errors { border-color: #f45b4f; color: #f45b4f; background-color: rgba(244, 91, 79, 0.2); }

div.wpcf7 .wpcf7-mail-sent-ok, div.wpcf7 .wpcf7-mail-sent-ng { border-color: #4caf50; color: #4caf50; background-color: rgba(76, 175, 80, 0.5); }
