// Customize the framework by changing these variables
// Put your custom variables and mixins here too

// -------
// FONT
// -------
$font-family : Helvetica, Arial, "sans-serif";
$font-family-header : Helvetica, Arial, "sans-serif";

// --------
// COLORS
// --------
$color-main : #2a71e3;
$color-sub  : #d7d7d7;

$color-passive : #e0e0e0;
// $color-link : $color-main;
// $body-background  : #ffffff;

// --------
// SIZING
// --------
// $size-max   : 650px;
// $size-small : 360px;

// -----------
// TYPOGRAPHY
// -----------
// $font-color  : #222;
// $font-weight : 400;
// $font-line   : 1.65;
$font-size   : 16px;

// --------
// HEADER
// --------
// $header-color  : $font-color;
// $header-weight : 700;
// $header-line   : 1.5;

// $h1 : 42px;
// $h2 : 36px;
// $h3 : 30px;
// $h4 : 24px;
// $h5 : 20px;
// $h6 : $font-size;